article(id="belyye-peshchery-naseleniye")

    h2(class="h2") Белые пещеры. Население.

    p Белые пещеры населены светящимися существами белого цвета.
    p Обитатели пещер схожи между собой. У всех тонкие слюдяные крылышки, которые постоянно трепещут, создавая лёгкий ветерок, отчего воздух в пещерах всегда свежий, немного пахнущий арбузами. На похожих мордочках смешные, сплющенные носы с румянцем и глазки-щёлочки. Сощуренные глазки необходимы пещерёнышам, ведь они живут в самом светлом месте Мира.  У любого пришлого существа, загостившегося в пещерах, глаза становятся уже, чем обычно.
    p Но по-настоящему примечательны они тем, что могут жить как в трёхмерном мире, так и в двухмерном!!
    p По своему желанию, коснувшись поверхности пещеры, они, подобно световым шарам, впитываются в неё. Перетекают из обычного себя в рисунок себя же.
    p Когда-то я, впервые обнаружив Белые Пещеры, украшенные «наскальной живописью» очень удивилась – «Кто же это нарисовал? Древние Левитяне?».

    img(src="assets/img/belyye-peshchery-naseleniye.jpg" alt="Белые пещеры. Население.")

    p Я стала разглядывать изображения и заметила, что они медленно движутся. Некоторые спали, размеренно дыша, другие куда-то шли, покачивая длинными вихрями.
    p Скоро я выяснила, для чего им нужна такая способность.
    p Пещеры и ходы разного размера. Есть просторные залы и широкие переходы. А есть множество уютных ниш, спрятанных в складках корней-стен, да и не все «этажи» сообщаются между собой. Вот и получается, что во многие места можно попасть, только перемещаясь по стене. К тому же, пещеры густо населены, но тесноты нет, потому что для жизни используются и объёмы и плоскости!
    p А ещё стены – это ведь корни! И по ним пещерные жители могут подниматься наружу к Вихревому Дереву. Прогуливаться им больше нравиться в двухмерном состоянии, по белым ветвям.
    p Не нужно думать, что населяющие пещеры существа – её пленники. Они могут покинуть пещеру и в своём объемном состоянии, но предпочитают делать это не часто, раз в тридцать земных лет. Наступает такой час, когда самая светящаяся часть пещерёнышей одновременно покидают свой остров. Белые точки вереницей улетают прочь от дома. Они путешествуют по островам Мира и красиво светят всем встречным. Постепенно свет их тел меркнет, и тогда они возвращаются  в свои пещеры.
