article(id="bystrokhodnyy-zhuk")
    h2(class="h2") Быстроход, или быстроходный Жук.

    img(src="assets/img/bystrokhodnyy-zhuk.jpg" alt="Быстроход, или быстроходный Жук")

    p Для быстрых Жуков, мир Левитатум - это не отдельные острова, а просто одна сплошная суша, куски которой медленно перемещаются относительно друг друга. Они не догадываются о промежутках, потому что проскакивают их в мгновенье ока. При этом острова, перевёрнутые на звёздную сторону, для них временно выпадают из общей суши. Получается, что обитают Быстроходы только на светлой половине Мира.
    p По поверхности островов они способны мчаться, оставляя в глазах смотрящего лишь расплывчатый след. Так что и без способности, пропускать межостровные промежутки, Быстроходы очень стремительны.

    p Форма тела Жуков гладкая и обтекаемая. За острой головой расположены три плотных щита. Они первыми встречают сопротивление воздуха, прикрывая тело, балансировочный и ходовые вихри.
    p Манёвренность у Жуков великолепная, и столкновений они ловко избегают. Их будто бы отводит от растений и живых существ. Поэтому аварий никогда не случается.

    p На скоростях Быстроходы не пользуются своими крохотными лапками, поджимая их к брюшку. Но двигаться на них умеют проворно.
    p Эти существа никогда не останавливаются, всегда находясь в движении. Едят на ходу, спят на ходу. Замедляют шаг только для общения.

    p В пазуху самого крупного, третьего щита, Левитяне укладывают посылочки – ягоды, цветы, занятных насекомышей на развод, и Жук уносит их в дальние дали.

    p А вот кататься на Быстроходах нежелательно. А бывает даже рискованно (мы-то с вами знаем!). Но любопытных малышей это не останавливает.

    img(src="assets/img/bystrokhodnyy-zhuk-1.jpg" alt="Быстроход, или быстроходный Жук")

    p Воплощение Жука в шерсти

    img(src="assets/img/bystrokhodnyy-zhuk-2.jpg" alt="Быстроход, или быстроходный Жук")
