article(id="gonets")
    h2(class="h2") Гонец

    img(src="assets/img/gonets.jpg" alt="Гонец" loading="lazy")

    p С помощью этого существа Левитяне переправили мне бесценные Междумирные семечки))
    p Гонец умеет вырастать на растениях нашего мира. Я своими глазами видела, как он вырос на стволе моей вишни!
    p Была ещё снежная зима. Почти стемнело. Я гуляла по графичному саду голых ветвей. Со мной гулял чёрный кот. И кот свидетель. Мы вместе наблюдали как на тонком вишнёвом стволике начали отрастать нехарактерные для него веточки-вихорки. Потом сумеречно забелело тельце с голубыми, зимними листьями. С коротким тихим звоном расправились золотые крылышки, затрепетали, и Гонец повис в воздухе перед нами. Кот очень обрадовался, но я его опередила и подставила ладонь существу для приземления.
    p А дома я разглядела на его спинке, под листиками семечки из Левитатума!
    p Отличный подарок!

    p Шерстяное воплощение Гонца.
    img(src="assets/img/gonets-1.jpg" alt="Гонец" loading="lazy")
    img(src="assets/img/gonets-2.jpg" alt="Гонец" loading="lazy")
