article(id="gravitatsiya")

    h2(class="h2") Гравитация

    img(src="assets/img/gravitatsiya.jpg" alt="Гравитация" loading="lazy")

    p Гравитация - основа Мира Левитатум. Она пронизывает Мир, дав когда-то ему начало и теперь, желая его продолжения.

    p Гравитация соединила две непохожести: тёмную безбрежность украшенную звёздами и светлую бескрайность – загадочную пустоту.

    p Она разлилась гравитационными волнами, затопив края двух частей Мира, и обосновалась на этой границе. Стала там хозяйничать, создавая своим мощным и ласковым присутствием Острова и сберегая жизнь на них. Ею скручены левитянские хвостики и веточки многих растений. Она дарит вихри и способность к левитации вместе с ними.
    p …
    p Каждый остров наделён своим центром гравитации. Он находиться в корнях. Благодаря этому верх это всегда верх, как ни крути.

    p Молодые корешки имеют достаточно гравитационной силы для начинающегося острова. А вот для взрослого, густонаселенного острова, этой силы бывает недостаточно. Поэтому в его почве среди корней есть гравитационные копилочки. Этакие батарейки. Они напрямую связаны с Гравитацией и подпитывают корни, когда это бывает нужно. …
