article(id="igra-v-snezhki")
    h2(class="h2") Развлечение. Игра в снежки.

    img(src="assets/img/igra-v-snezhki.jpg" alt="Развлечение. Игра в снежки." loading="lazy")

    p Фантазия Левитян, видавших разные миры, мало чем ограничена. Поэтому им удаются растения разнообразные по виду и по назначению. Среди них есть полезные, вкусные, красивые. Есть растения, отлично подходящие для весёлых игр!
    p Вот гороховый куст. Характер у куста немного вредный, поэтому быстро он не растет, как его не торопи. От этого ожидания игра ещё желаннее.
    p Наконец-то дождавшись нужной зрелости горошин, весёлые Левитята рассыпаются по кусту. Наперегонки они ищут подходящий стручок, он должен быть крупный (побольше Левитянина), с оттопыренной «губой». Обхватив такой стручок всеми шестью лапками, его необходимо резко сжать, направив «губу» на соплеменника. Из стручка очередью вылетают белые мягкие горошинки. Они надежно прилипают к цели.

    p А целью становятся не только Левитяне..
    p Ведущим спокойную и скучную жизнь улиткам очень нравиться гороховый куст и очень не нравится бодрая игра шестилапок. И уж тем более им не нравиться участвовать в ней. Улитки стремятся побыстрее удрать. Но левитянские улитки не быстрее наших, и покинуть куст им удается примерно к концу игры!

    p Спокойствие скольких улиток потревожили Левитяне? Сосчитайте!

    p
        a(href="" onclick="getElementById('igra-v-snezhki-1').classList.toggle('hide'); return false;") Ответ:

    img(class="hide" id="igra-v-snezhki-1" src="assets/img/igra-v-snezhki-1.jpg" alt="Развлечение. Игра в снежки." loading="lazy")

