article(id="ikh-glaza")
    h2(class="h2") Их глаза

    img(src="assets/img/ikh-glaza.jpg" alt="Их глаза")

    p У Левитян добрые умные и весёлые глазки. В своём мире они блестящие и тёмные, а при переходе к нам в их глазах навсегда остаётся отражение родного дома.
