article(id="interesnyy-fakt")
    h2(class="h2") Интересный факт

    p Левитянин рождаясь умеет только левитировать.
    p Взрослея, новенькие Левитята, совсем как человеческие малыши, учатся ходить. Тоже спотыкаются, путаются в лапках и очень радуются, когда их хвалят за первые шажки. И вот уже на послушных лапках Левитёнок готов брать следующую высоту – обживать ветки.
    p Получается, что болтаться в воздухе пушистым несмышлёнышем, гораздо проще чем уметь двигаться по суше и лазить по вихрям. Вероятнее всего, отсюда и происходит любовь к сухопутным передвижениям, а левитируют они только тогда, когда без этого не обойтись. Или, когда так веселее!

    img(src="assets/img/interesnyy-fakt.jpg" alt="Интересный факт")
