article(id="kacheli")
    h2(class="h2") Развлечения. Качели.

    img(src="assets/img/kacheli.webp" alt="Развлечения. Качели.")

    p Излюбленное времяпрепровождение Левитян – активные игры.
    p Например – качели!
    p Подбираются подходящие упругие ветви с вихрями на конце… и вперёд! Тут важную роль выполняет хвост. При этом лапки расслабленно болтаются вверх-вниз, перед глазами сливается прыгающий мир, а в голове искриться веселье! Кто выше? Кто ниже? Кто дольше? Умение раскачаться – врождённый талант))))
