article(id="kak-oni-obshchayutsya")
    h2(class="h2") Как они общаются?
    img(src="assets/img/kak-oni-obshchayutsya.webp" alt="Как они общаются?" loading="lazy")
    p Активной речи у Левитян я не наблюдала, но действуют они всегда слажено. У них очень развит язык тела. Неуловимые для непривыкшего человеческого глаза жесты, выражение мордочки, положение хвоста и всем всё становиться понятно!
    p Издаваемые ими звуки похожи на покашливание. Тихое и нежное. Мир Левитатум вообще довольно тихое место.
