article(id="kak-nachinayutsya-ostrova")
    h2(class="h2") Как начинаются острова

    p В безмятежной пустоте, между светлой и звёздной сторонами мира Левитатум, на почтительном расстоянии от парящих островов, возникает движение. Это небольшой гравитационный сгусток начинает центростремительное вращение. Поначалу оно едва различимо и скорее ощущается, чем видится.
    img(src="assets/img/kak-nachinayutsya-ostrova-01-sm.jpg" alt="Как начинаются острова" loading="lazy")

    p Сгусток уплощается и формируется в Вихрь.
    img(src="assets/img/kak-nachinayutsya-ostrova-02-sm.jpg" alt="Как начинаются острова" loading="lazy")

    p Продолжая вращаться Вихрь становиться крупнее, отращивает корешки и к нему из пространства стремятся притянуться частички. Из частичек складывается почва острова.
    img(src="assets/img/kak-nachinayutsya-ostrova-03.webp" alt="Как начинаются острова" loading="lazy")

    p Притянув достаточное количество почвы к корешкам, Вихрь начинает «ветвиться», а два вихря это уже, хоть и маленькое, но Деревце. На этом этапе малюсенький островок получает свою собственную гравитацию, перестает вращаться и как поплавок выныривает деревом на светлую сторону. Корешки продолжают притягивать почвенные частички уже благодаря собственной гравитации.
    img(src="assets/img/kak-nachinayutsya-ostrova-04.webp" alt="Как начинаются острова" loading="lazy")

    p Незаметно начавшийся островок становиться заметен для Левитян. И очень скоро любопытные существа принимаются чаще и чаще левитировать к нему в гости. Они по очереди с энтузиазмом ухаживают за недавно начавшимся островом и помогают ему продолжаться: крепнуть, набирать объёмы, красиво ветвиться изящными вихрями. Особенно сроднившиеся с новым островком Левитяне, в конце концов, селятся на нём.


    p …
    p Когда-то молодой мир Левитатум прямо таки бурлил гравитацией. Её необузданный нрав порождал острова один за другим и по нескольку за раз. Со временем этот процесс замедлялся, гравитация успокаивалась. Острова начинались все реже.
    p Сейчас мир Левитатум – это зрелый мир. Новые острова начинаются крайне редко, только если необходимо восстановить баланс.

    p *Острова в мире Левитатум это не просто суша с флорой и фауной, это и не волшебный предмет и не отдельное существо. Острова – это  целые процессы, в ходе которых жизнь мира набирает обороты, клокочет и веселиться, покрываясь следами от шести лапок. Поэтому, описывая появление острова, я применяю слово «начинается».
