article(id="kak-levityane-popadayut-v-nash-mir")
    h2(class="h2") Как Левитяне попадают в наш мир
    p Левитяне очень любопытные создания. Им не сидится на месте настолько, что они даже путешествуют по мирам.
    p И на Землю тоже!

    img(src="assets/img/kak-levityane-popadayut-v-nash-mir-02.jpg" alt="Как Левитяне попадают в наш мир")
    p Когда у одного какого-нибудь левитёнка накапливается достаточно много любопытства, он ищет особый Вихрь на особом Вихревом Дереве и просто идёт по спирали, к самому центру, пока не исчезает…

    img(src="assets/img/kak-levityane-popadayut-v-nash-mir-03.webp" alt="Как Левитяне попадают в наш мир")
    p На другом конце мироздания, где-то, совсем далеко от мира Левитатум, живёт своей интересной, непонятной, незнакомой левитянам жизнью, прекрасная голубая планета. А на ней неприметная я. И вот когда левитянин уходит из своего мира, в тот же миг, у меня на душе как-то по-особому теплеет. Я понимаю, что нужно бежать на улицу и искать в кронах деревьев, в самой путанице ветвей Тоннель. Как только глаз его отмечает, левитёнок проскакивает в наш мир прямо мне в руки! Такой тёплый, живой и по-особому невесомый. Мы обнимаемся, знакомимся, он гостит у меня какое-то время, а потом непременно отправляется узнавать наш мир во всем его великолепии.
    p Чаще всего переход выпадает на утро. На самое его начало. Когда притихшая и отдохнувшая природа, еще не набрала цвет бурного дня. Когда ночные жители уже уснули, а дневные только-только приоткрыли глазки.
    p Вот так выглядит Тоннель, я нарисовала его для вас. А вот попытки его сфотографировать были неудачными. На фотографиях он засвечивается или «рассыпается» не образуя заметного кольца из ветвей. Волшебство не терпит посредников между собой и глазом.
    p Такие тоннели не редкость, главное найти правильный ракурс. Попробуйте отыскать его, вдруг и вас ждёт приятная встреча)))

    img(src="assets/img/kak-levityane-popadayut-v-nash-mir-04.jpg" alt="Как Левитяне попадают в наш мир")
    p Вот так выглядят Левитяне когда попадают в наш мир
