article(id="kak-ikh-zovut")
    h2(class="h2") Как их зовут
    img(src="assets/img/kak-ikh-zovut.webp" alt="Мой Мир")
    p Никому не рассказывая о мире Левитатум, мне не было нужды именовать его обитателей. Когда же появилось желание делиться этими историями, я поняла, что нужно будет их как-то называть.
    p Около года я ломала голову и подбирала варианты названий главным жителям мира Левитатум. Их было сотни.. Я пробовала разные подходы. Искала в других языках. Миксовала слова. Пробовала случайный подбор букв. Все тщетно! Ни один вариант так и не лёг, не прижился.
    p Несколько раз я забрасывала эту идею «на дальнюю полку», надеясь, что подсознание все сделает само. Знаете, так бывает? Этот трюк так же не помог.
    p Ах, так! – обижалась я, - Не хотите называться, останетесь просто Неведомыми Зверюшками!
    p Но скоро, с энтузиазмом, вновь пыталась понять, как же называются они на человеческом?
    p И вот сегодня, как раз к запланированному посту (концовка которого должна была быть другой) я наконец поняла что они..
    p .. Левитяне! А если ласково – Левитятки))) И никак иначе )))
    p И ведь это слово лежало на поверхности.
