article(id="khishchnyye-tsvety")
    h2(class="h2") Хищные цветы

    p На звёздной стороне Мира, вне островов, распускаются не только Тёмные цветы. Есть ещё одна разновидность растущих поодиночке и очень шустрых цветов.

    p В месте большого ночного скопления Левитян светлая сторона проклёвывается ростком в звёздную. За считанные секунды стебель вытягивается, бутон набирает сок. Цветок распахивается, выпуская щупальца, которые стремительно разрастаются и начинают гоняться за Левитятками, хватают их и … ой! Мамочки! …

    img(src="assets/img/khishchnyye-tsvety.jpg" alt="Хищные цветы")

    p Вы уже испугались за милых Левитяток?

    p Спокойно.

    p Хватают их очень бережно и кружат!
    p Двойное развлечение, догонялки и карусели, очень и очень любимо развесёлыми друзьями. И скапливаются они на звёздной стороне специально, надеясь, что Хищный цветок «набросится» на них. И тогда они смогут проявить свою ловкость в полёте, а потом сыграть в поддавки и дать себя закружить!

    p Конечно же в мире Левитатум нет ничего страшного и опасного.
    p Мой мир простой, без подвоха.

    p Шустрые «Хищные» цветы очень красивы. Рождённые светлым пространством, они переливаются бегущими искрами.

    p Кружащаяся сердцевинка с охапкой счастливых Левитян в конце концов отрывается. Вспыхивая, она исчезает, разметав веселящихся шестилапок на все четыре стороны.

    p Веселье заканчивается, но обмениваться впечатлениями они будут ещё долго!
