article(id="krasavitsy")
    h2(class="h2") Неожиданности тихого вечера. Красавицы.

    img(src="assets/img/krasavitsy.jpg" alt="Неожиданности тихого вечера. Красавицы.")

    p Представьте…
    p Вот сидите вы на берегу, свесив ноги. Пяточки греют мерцающие звёзды. Перед вами ширится светлая сторона Мира. Взгляд ваш задерживается на дрейфующих далеких островах.
    p Вы ощущаете движение и своего острова. Это ощущение, похожее на краткий миг невесомости в прыжке или на качели. Знаете, когда траектория взлёта закончена, и вы готовы ухнуть обратно, но есть этот миг.. сейчас это не миг.
    p К вашим спине и бёдрам прижались тёплые тела Левитян. Один повис на плече и щекочет своим дыханием ваше ухо.
    p Короче говоря, представьте себе обычный левитянский «вечер».
    p Тут вы замечаете, как слева приближается Остров. Это странно, ведь острова дрейфуют, а этот торопится явно в вашу сторону. Но вы уже привыкли к странностям.
    p Левитяне тоже замечают подлетающий остров. Они оживляются, их расслабленные хвостики задорно пружинят вверх. В нетерпении они толпятся у берега, и как только острова соприкасаются, торопятся к высоченному кусту с изящными вихрями.
    p Вы поднимаетесь и тоже идёте к причалившему острову. Почва, похожая на шелковистый песок, гладит ваши ступни. Вы подходите к кусту, ближе и ближе, с умилением наблюдаете, как наверху Левитяне обнимаются с тонкими ветвями.  Вам непонятно поведение Левитян. Они, конечно, очень дружелюбны, но такую сильную радость, вызванную растением, вы видите впервые.
    p И тут часть куста встаёт и идёт к вам навстречу. Вот так вот, запросто! А вы-то думали, что привыкли к странностям.
    p Стройное существо из веток неторопливо склоняется к вам. Тычет в лицо огромной бархатистой мордой, и тёплая волна доброты окутывает вас.
    p Вы разглядываете его. Высоченное, тонконогое, грациозное в движениях. В своей лирической изящности напоминающее берёзку.
    p «Какая красавица…» - шепчете вы.
    p И правильно! Я так их и назвала:) – Красавицы.
    p ***
    p Как думаете, Красавицы разрешили вам покататься на себе?
    p Конечно разрешили! Левитянам можно, а вам-то почему нельзя?)))
    p ***
    p Если вы, друзья мои, как следует представили этот левитянский длинный вечер: ощущения вашего тела; образы, звуки и запахи; чувства безмятежности, спокойствия и радости, удивления, то он сохранится в ваших воспоминаниях, так будто вы прожили его вместе с Левитятами и Красавицами на самом деле.
    p Заглядывайте как-нибудь ещё, Левитатум ждет вас!
    p Обнимаю. Левитатумолог Марина.
    img(src="assets/img/krasavitsy-1.jpg" alt="Неожиданности тихого вечера. Красавицы.")
