article(id="laskovyye-ptitsy")
    h2(class="h2") Ласковые птицы

    img(src="assets/img/laskovyye-ptitsy.jpg" alt="Ласковые птицы")

    p Мир Левитатум населён не только левитянами.  Постепенно я познакомлю вас со всеми существами, которых там увидела. Сегодня начну знакомить с Ласковыми птицами!
    p Расскажу вам о них все, что знаю сама. Эти удивительные существа внешне очень напоминают земных пташек.
    p У них есть клюв – но он мягкий.
    p У них есть хохолок на голове – но это орган левитации, как у Левитян и у многих других обитателей Мира.
    p У них есть крылья и хвост из перьев – но эти пальчиковые перья не для полётов.
    p Самая главная отличительная черта этих птиц - они сами идут в руки, ищут ласки и дают её. Ластятся.
    p Живут они стайками на островах с особыми вихревыми деревьями. Эти острова напоминают мне перьевые облака Земли.
