article(id="laskovyye-ptitsy-i-semitsvetikovoye-rasteniye")

    h2(class="h2") Ласковые птицы и Семицветиковое растение

    img(src="assets/img/laskovyye-ptitsy-i-semitsvetikovoye-rasteniye.jpg" alt="Ласковые птицы и Семицветиковое растение")

    p Первое упоминание о Ласковых птицах было в истории о Семицветиковых растениях: «Чтобы получилось такое сложное узорчатое растение, Левитянам приходиться прилагать большие усилия. …
    p И старания эти не пропадают зря, радуют глаз, украшая острова и привлекая внимание Ласковых Птиц»

    p Так в чём же причина этого интереса?

    p Кроме любования растением у птиц есть и практический резон. Накопительные капельки, те, что на пушистых спинках, эти птахи берут именно из распустившихся цветков Семицветикового растения.

    p Цветы распускаются специально для Ласковых птиц. Именно по этой причине мне так долго пришлось выискивать раскрытый цветок, что бы его нарисовать. Просто рядом не оказывалось птиц!

    p Стоит только стае появиться вблизи растения, как цветок тут же дружелюбно распахивается для них. Птички встряхивают нанизанные на усики капли друг на друга. Запасаясь волшебством от мира, чтобы преобразовать и вернуть его в нужный момент.
