article(id="laskovyye-ptitsy")
    h2(class="h2") Ласковые птицы

    img(src="assets/img/laskovyye-ptitsy.jpg" alt="Ласковые птицы" loading="lazy")

    p Мир Левитатум населён не только левитянами.  Постепенно я познакомлю вас со всеми существами, которых там увидела. Сегодня начну знакомить с Ласковыми птицами!
    p Расскажу вам о них все, что знаю сама. Эти удивительные существа внешне очень напоминают земных пташек.
    p У них есть клюв – но он мягкий.
    p У них есть хохолок на голове – но это орган левитации, как у Левитян и у многих других обитателей Мира.
    p У них есть крылья и хвост из перьев – но эти пальчиковые перья не для полётов.
    p Самая главная отличительная черта этих птиц - они сами идут в руки, ищут ласки и дают её. Ластятся.
    p Живут они стайками на островах с особыми вихревыми деревьями. Эти острова напоминают мне перьевые облака Земли.

    img(src="assets/img/laskovyye-ptitsy-1.jpg" alt="Ласковые птицы" loading="lazy")

    p Ласковые птицы очень любят, когда их глядят по пушистым спинкам. Они от этого прищуриваются и воркуют.
    p От их воркования на душе становится тепло и уютно, как дома у мамы. Эти любители ласкового общения создают вокруг себя атмосферу безмятежности и благодушия. И эта атмосфера вполне реальна. Её нельзя увидеть, но можно почувствовать.
    p Именно так лечат Ласковые Птицы.
    p Если, например, у Левитенка заболит пальчик или даже целая лапка, Ласковая птица подует-поворкует на больное место и недуга как не бывало. Но бывали случаи и посерьёзнее.
    p Лечебные свойства птиц копятся в капельках расположенных в пушистостях спинок. Чем больше их по спинкам гладят, тем больше лечебного волшебства образуется в каплях.
    p Птичьи острова равномерно расположены среди других и мир Левитатум поэтому самый здоровый из всех миров.
