article(id="levityanskiy-zvozdnyy-tu")
    h2(class="h2") Левитянский Звёздный Ту

    p Левитянский Ту живёт среди звёзд. Он любит их сияние и всегда предпочитает эту сторону Мира Светлой стороне.

    img(src="assets/img/levityanskiy-zvozdnyy-tu-01.jpg" alt="Левитянский Ту")

    p Звёздный Ту - существо небольшого роста, с округлыми очертаниями. На маленькой узкой голове расположены два могучих вихря, верхний и нижний. Они гармонично сочетаются с плавными линиями тела. Задняя часть Ту надёжно уравновешена тремя хвостами, каждый заканчивается крупным вихрем. Как и большинство обитателей Мира, у Ту шесть лапок, они маленькие и плоские, а на передних есть ещё и крохотные вихорки. Плотно прижатые вихри спины выглядят нарисованными, они украшают Ту слева и справа, добавляя индивидуальности внешнему облику каждого существа.
    p ***
    p Все обитатели Мира для чего-то этому Миру нужны.
    p У Главных Вихревых Деревьев часть корней открыты и свисают под островом. За ними нужен внимательный, особый уход. Это и есть дело для Звёздного.
    p Когда Левитяне переворачивают свой отдохнувший выспавшийся остров на светлую сторону, приходит время потрудиться Звёздному. В темноте он подлетает к корням, облетает вокруг них несколько раз, внимательно осматривая, подмечая недомогания. В первую очередь бережно распутывает-расчёсывает корешки. Потом усердный Звёздный уделяет самое пристальное внимание каждому корешку в отдельности, прокатываясь по нему, подлечивая повреждения, добавляя упругости и натирая до глянцевого блеска.

    img(src="assets/img/levityanskiy-zvozdnyy-tu-02.jpg" alt="Звёздный Ту на корнях Вихревого Дерева")

    p И так Звёздному нравится его занятие, что он всё время протяжно напевает. «Ту-уу, туруту-ту, ту-у-у, туру-ту-ту, ту-у-у…» разноситься далеко среди тихих звёзд. Его песенка похожа на колыбельную. Без слов, без начала и конца.
    p Бывает, Звёздный Ту находится в таком хорошем творческом настроении, что заплетает корни в удивительные «причёски».

    img(src="assets/img/levityanskiy-zvozdnyy-tu-03.jpg" alt="Звёздный Ту заплёл корни Вихревого Дерева")

    p Эти «косы» как подарок милым Левитянам, которые рады исследовать хитросплетения причудливо завитых корней. Они торопятся пробежать все лабиринты, зная, что в ближайшее время Ту вернет корням надлежащий вид.

    img(src="assets/img/levityanskiy-zvozdnyy-tu-04.jpg" alt="Левитяне исследуют хитросплетения корней Вихревого Дерева")

    p  ***
    p Звёздные Ту - кочевники. Пространство Левитатум для них незримо поделено на местности. В каждой проживает только один Звёздный. Он опекает острова, которые заплывают на его территорию, постоянно кочуя от одного к другому. В ведении одного Звёздного Ту одновременно находятся от трех до десяти островов.
    p Уставший от тяжёлой работы Ту повисает на корнях, цепляясь за них тремя хвостовыми вихрями, как якорем, и так дремлет. А почувствовав голод, отправляется на ближайший перевёрнутый на звёздную сторону остров за ягодками. Особая радость для Звёздного Ту – хрустящие ягодки. Левитяне выращивают их на высоких ветках специально для Ту, которому неудобно наклоняться.

    img(src="assets/img/levityanskiy-zvozdnyy-tu-05.jpg" alt="Ягодки")

    p В свободное время Тутушечки склонны к размышлениям. Устремившись мыслями к звёздам, Ту могут часами сидеть неподвижно. Потом Ту чувствуют необходимость поделиться этими размышлениями и обогатиться размышлениями других Ту. Для этого они ходят друг к другу в гости. Собравшись в межостровном пространстве, Звёздные начинают тутукать на разные лады.
    p Очень красиво, но совершенно непонятно!

    img(src="assets/img/levityanskiy-zvozdnyy-tu-06.jpg" alt="Шерстяная скульптура Звёздного Ту")
