article(id="listovey")
    h2(class="h2") Листовей
    img(src="assets/img/listovey.webp" alt="Листовей" loading="lazy")
    p В мире Левитатум нет привычных нам облаков, нет дождя, снега, зноя. Там всегда одинаково тепло на светлой стороне и немного прохладнее на звёздной. Этот мир не является планетой, поэтому в нём не бывает цикличной смены погоды.
    p Но там, как и у нас есть Ветер. Этот Ветер похож на наши ветра, но служит он необычным целям и появляется необычным образом. И вот как это происходит...
    p Одновременно, на разных островах Левитяне начинают выращивать особые растения – Листовеи. У Листовеев гибкие и упругие стебли, они стелятся по земле и могут быть очень длинными. Когда на стеблях раскрываются первые ажурные листы, из дозревающих почек начинает сочиться Ветер, всё сильнее и сильнее.
    p Сплетаясь с другими потоками, Ветер набирает силу. И вот уже мощные широкие струи приводят в движение острова! Начинается самое веселье! Крупные острова, несутся, раскачиваясь, подхваченные Ветром, легко, словно пушинки! Что уж говорить о средних островах и островках-малютках, которые и вовсе кувыркаются и кружатся как сумасшедшие! Тут только держись! Но многие существа и не думают держаться, они рады увлечься танцем Ветра! В апогее этого веселого безумия мир Левитатум похож на мешанину крутящихся островов и кружащихся существ. Всё путается, вращается и кувыркается! Всё несется кубарем, закручивается по спирали, сближается и разлетается! И восторгу нет предела! Острова, семена, насекомыши, Левитяне и другие обитатели мира самозабвенно отдаются на волю Ветра.
    p Когда все листья Листовея раскрываются, ветер стихает.
    p Мир Левитатум обновлён.
    p Мир Левитатум снова становиться спокойным и умиротворенным местом.
