article(id="mesyats-lun")
    h2(class="h2") Месяц лун

    p Как же так получается, что в мире, где нет ни восходов, ни закатов, потому что нет планет и светила, вдруг появляются луны?

    p Не знаю. Другой мир не проще нашего. Бывает очень трудно понять, что происходит и зачем.

    p Зато я могу описать это красивое явление, которое порой наблюдаю.

    p Я не знаю, что такое Светлая сторона мира Левитатум, возможно, никогда и не узнаю. Эта загадочная сторона способна удивлять разными неожиданными необычностями.

    p Однажды она просто делится частью себя со Звёздной стороной. Эти огромные комки светлого пространства, похожие на луны, плавно восходят и медленно, даже как-то торжественно, поднимаются в звёздные глубины (или опускаются к звёздным высям, это как посмотреть).
    p И так происходит целый земной месяц.

    p Луны выкатываются по всему Миру, не задевая острова́́. Они ощущаются тяжеловесными глыбами, хотя, по идее, должны быть невесомыми.

    p Левитяне не пытаются подлететь к ним. Они любуются лунами со своих островов.
    p Перед сном, покончив с дневной суетой и перевернув остров, самые главные существа Мира уютно рассаживаются по вихрям и в тёмных левитянских глазах отражаются звёзды и луны их мира, такого не похожего на наш.
    p Но только на первый взгляд.

    img(src="assets/img/mesyats-lun.jpg" alt="Месяц лун")
