article(id="mirazhniki")

    h2(class="h2") Миражники
    img(src="assets/img/mirazhniki.jpg" alt="Миражники")

    p Для меня Миражники самая большая загадка мира Левитатум. Они никак себя не проявляют, не общаются, левитируют почти неподвижно. Они, как-будто, просто есть.

    p Эти существа возникают на границы зрения. Переводишь на них прямой взгляд, и они растворяются как мираж. Я пыталась рассмотреть их, поворачиваясь еле заметно, и наоборот, очень быстро, резко. Итог один – исчезают.

    p Пришлось приноровиться и разглядывать боковым зрением.
    p Первое что удивляет в их внешности, это глаза. Они человеческие. Как раз эта деталь и навела меня на предположение, кто же они такие. Своей догадкой я поделюсь с вами позже.

    img(src="assets/img/mirazhniki-1.jpg" alt="Миражники")

    p Миражники всегда находятся в паре. Одно создание скользит по светлой стороне, и строго под ним, на звёздной стороне скользит второе. Отдельное перемещение мне ни разу не попадалось.

    p А может быть это одно существо в двух частях?

    p Я всегда вижу их парящими в пространстве. При мне они ни разу не опускались на остров. С такой гривой вихрей им, видимо, совсем не нужна опора.

    p Миражную пару я вижу в цвете. Эта часть спектра не существует в нашей вселенной, и потому, если я скажу вам, что они глубокого маринового цвета, умом вы меня не поймёте. Но если я расскажу вам, что этот цвет похож на озорную чехарду солнечных бликов, которую устроил серьёзный вековой дуб и немного напоминает новогодний запах мандаринов с лёгким оттенком прохладных брызг в лицо от солёного моря, вы наверняка его почувствуете и сможете вообразить!
    img(src="assets/img/mirazhniki-2.jpg" alt="Миражники")

    p В другом цвете я Миражников не представляю, поэтому шерстяное воплощение я оставила ахроматическим.

    p Итак, на какую же догадку навели меня человеческие глаза Миражников? Кто или что они такое?

    p Я думаю, это…

    p люди, такие же наблюдатели этого Мира, как и я, только из разных времён и эпох! Проверить эту версию я не могу, потому что не вижу себя со стороны. Возможно, однажды, мне попадется гладкая поверхность и, отразившись в ней, я увижу изящного Миражника с моими зелёными глазами.

    p Если Миражники - это и правда вместилище человеческого сознания, гостящего в Левитатуме, то становиться понятно, почему они так замечательно приспособлены к длительной левитации. Множество вихрей компенсирует небольшой навык в этом деле.

    p И еще, делается очевидно, что их двойственность нужна чтобы наблюдать одновременно обе стороны Мира.

    p Так же моя догадка объясняет неуловимость их образов. Наше, земное течение времени не терпит чехарды и препятствует прямому контакту людей живущих не одновременно.

    p И можно предположить, почему глаза у них не объёмные, как у других существ Мира, а как будто нарисованы. На их аккуратных
