article(id="mordochki-levityan")
    h2(class="h2") Мордочки Левитян
    img(src="assets/img/mordochki-levityan.webp" alt="Мордочки Левитян")
    p Левитяне очень похожи, но только на первый взгляд. Сегодня хочу показать вам мордочки Левитян поближе. Они вполне очаровательны:  широкий лобик, аккуратный носик и умные блестящие глаза.
