article(id="motylkovyye-rasteniya")
    h2(class="h2") Мотыльковые растения

    img(src="assets/img/motylkovyye-rasteniya-01.webp" alt="Мотыльковые растения")

    p Мотыльковое растение – это ягодный куст. В мире Левитатум огромное множество ягодных кустов и там они особенно любимы. Мотыльковое растение, учитывая его особенности,  выращивают за краем острова, выбирая для этого мыс*.
    p Ягодки зреют в почво-мешочках и имеют восхитительный вкус. Но только если мешочек раскрывается сам собой. В поврежденном раньше времени мешочке ягоды становятся отвратительно кислыми.

    img(src="assets/img/motylkovyye-rasteniya-02.webp" alt="Мотыльковые растения")

    p Чтобы не пропустить момент созревания, Левитянам приходиться караулить куст, левитируя возле него. Ведь когда почко-мешочки раскроются, сочные вкусные ягодки устремятся прочь от острова на лжекрылышках, которые делают их похожими на бабочек или мотыльков.  Тут уж не зевай!
    p Некоторые Левитяне выжидают возле дозревающего мешочка, заранее открыв ротик и растопырив пальчики. А другие занимают активную позицию, готовясь догонять умчавшуюся вкуснятину.
    p *Мыс — участок суши, выдающийся острым углом в море, озеро, реку.

    img(src="assets/img/motylkovyye-rasteniya-03.webp" alt="Мотыльковые растения")
