article(id="moy-mir")
    h2(class="h2") Мой Мир
    img(src="assets/img/moy-mir.jpg" alt="Мой Мир")
    p У меня есть одна необычная способность.
    p Я вижу другой мир.
    p Он сильно отличается от нашего и населён разнообразной жизнью.
    p Первый раз я обнаружила его ещё в детстве и тогда же поняла, что больше никто его не видит.
    p Этот удивительный мир я назвала - Левитатум. За многие годы у меня накопились образы, истории, наблюдения, которыми пришло время поделиться с вами.

