article(id="moya-rassada")
    h2(class="h2") Моя рассада

    p Как и многие наши соотечественники, с начала весны я занимаюсь рассадой.

    p Этим снежным мартом один из подоконников заселился растениями особого вида – вихрастыми левитянскими веточками! Левитяне переслали мне специально выращенные, адаптированные к земным условиям междумирные семечки.

    p На вид совершенно одинаковые золотистые семена рождают разные растения. В этом они похожи на всёсемечки мира Левитатум.

    p Рассада отлично себя чувствует в условиях нашей Земли. Но есть и некоторые особенности ухода.

    p Во-первых, первые три месяца после всходов, такую рассаду нужно переворачивать вверх ногами вместе с горшком на двенадцать часов и строго следить за временем! Я ставила будильник, чтобы не прокараулить.

    p Во-вторых, растут они не в почве, а в овечьей шерсти. Это неудивительно, ведь шёрстка воплощает левитянское население тут, у нас.

    p И в-третьих, поливать их не надо.

    img(src="assets/img/moya-rassada.jpg" alt="Моя рассада" loading="lazy")
