article(id="navedeniye-mostov")
    h2(class="h2") Наведение Мостов

    p Проплывающие совсем близко, или в относительной близости, острова, пробуждают фантазию населения. Левитяне с азартом принимаются растить в сторону случайных соседей извилистые ветви. Растения послушно дотягиваются друг до друга и срастаются в единый Мост.
    p После этого начинаются бесчисленные хождения в гости!

    img(src="assets/img/navedeniye-mostov.jpg" alt="Наведение Мостов" loading="lazy")

    p Утром левые к правым, вечером правые к левым. Одновременно пошли, получилась тёплая встреча на мосту.

    p А в гостях молчаливые разговоры:
    p - вот, поешьте наши ягодки, это новый сорт
    p - а вас мы приглашаем поиграть в совершенно новую игру
    p - мы пролетали там-то и видели то-то
    p - один из нас в прошлую пятницу вернулся из другого мира, и видел там диво дивное - вот ТАКОЕ!
    p - а мы напридумывали замечательный куст, посмотрите, как удачно вышло!
    p - а у нас вывелась новая насекомо-растительная жизнь, мы хотим с вами поделиться! Они прикольные!

    p И так они общаются, делятся новостями и придумками, носятся по мосту толпами и поодиночке, пока их острова естественным образом не разлетаются. Тогда мостик одновременно отпадает от берегов, бледнеет и тает. Новые знания и подарки остаются. А бывает, что остаётся и парочка гостей.

    img(src="assets/img/navedeniye-mostov-1.jpg" alt="Наведение Мостов" loading="lazy")

    p Мосты, это отдельный вид Левитянского садового творчества. Они всегда разного вида, так ведь интереснее!

    p Мне на глаза попадался мост невероятной длины. Думаю, что Левитяне этих островов не хотели расставаться, и каким-то образом наращивали его.

    img(src="assets/img/navedeniye-mostov-2.jpg" alt="Наведение Мостов" loading="lazy")

    p Ещё я видела три острова, соединённые мостами, и там царило невероятное оживление!

    p И были два большущих острова, соединенные пятью дугами-мостами разной высоты.
    p На длинных мостах растёт ягода, чтобы подкрепиться в дороге. Бывают мосты с подсветкой. Мосты разной формы – дуги, тоннели, волнистые, двусторонние горки.
    p Отсутствием фантазии не страдают Левитятки!
    p Но чаще это всё же изящные мостики-дуги, по которым приятно пройтись в гости, туда, где тебя любят и ждут. И у которых приятно встречать гостей, таких любимых и долгожданных.

    p Любите ли вы гостей так, как их любят Левитяне?
