article(id="noch-i-den")
    h2(class="h2") Ночь и День
    img(src="assets/img/noch-i-den.webp" alt="Ночь и День")
    p В мире Левитатум день не сменяется ночью, а ночь днём. Ночь и день существуют одновременно. Пространство поделено на светлую и звёздную части.
    p Когда Левитяне понимают, что острову пора отдохнуть, они всей стайкой садятся на верхушку главного Вихревого Дерева и начинают его раскачивать, пока весь остров не переворачивается на ночную сторону. Центр гравитации в этом мире находится в корнях, поэтому верхушка всегда вверху.
    p Кувыркнув остров в ночь, Левитяне устраиваются на удобной ветке по несколько штук и сладко спят. Выспавшись, они снова скапливаются на верхушке дерева и меняют положение на дневное.
