article(id="o-lapkakh-levityan")
    h2(class="h2") О лапках Левитян

    img(src="assets/img/o-lapkakh-levityan.jpg" alt="О лапках Левитян")

    p Их шесть, что позволяет перемещаться по ветвям и уверенно чувствовать себя на растениях. Но так же уверенно лапки помогают Левитянам чувствовать себя и в воздухе!
    p Присмотритесь – каждый пальчик заканчивается «коготком» со щелочкой. На самом деле это вовсе не когти, они Левитянам ни к чему, это вспомогательный орган управления левитацией (основным является хвостовой вихрь). В полёте щёлочки расширяются, становясь петельками. Через них проходят потоки гравитации. Поворачиваясь,  петельки помогают лететь в любом направлении. Благодаря этому, даже не двигаясь, Левитёнок может перемещаться куда вздумается.
