article(id="o-puzatykh-norochnikakh")

    h2(class="h2") О пузатых Норочниках
    img(src="assets/img/o-puzatykh-norochnikakh-1.jpg" alt="О пузатых Норочниках")

    p Для Норочников очень важно сохранять упитанность. Ведь чем значительнее тельце, тем больше гравитации оно может уместить, а это бывает жизненно важно для острова.  Для сохранения своих округлостей эти существа не жалеют сил. Они много едят и мало двигаются.
    p Левитяне заботятся о разнообразном и питательном рационе пузатиков.  Они выращивают множество ягодок-плодов возле норок. Бывает, сами их  собирают и укладывают у входа, бывает, переносят пухлячков к кустам поближе. Левитяне неутомимы в своих хлопотах. Однажды мне на глаза попалась полянка, полная ягодных растений и ни одно из них не повторялось!
    p А еще заботливые Левитяне помогают вырасти вкуснейшим подземным плодам на тонких корнях-паутинках. Эти плоды приятно пахнут и Норочники легко находят их.
    img(src="assets/img/o-puzatykh-norochnikakh-3.jpg" alt="О пузатых Норочниках")
    p Почва острова плотная только снаружи. Внутри она рыхлая и легко расходится пред Пузатиком,  а потом смыкается за ним. Поэтому  постоянные подземные ходы не нужны. Благодаря особому расположению лапок, Норочники без усилий перемещаются внутри острова. Это больше похоже на плавание, а не на ползание.
    p Сами норки, где залегают «батарейки», округлые и небольшие.  Они бывают одноместные. Но обычно вмещают небольшую компанию,  и тогда это похоже на распустившийся венчик из трех или пяти лепестков.
    img(src="assets/img/o-puzatykh-norochnikakh-2.jpg" alt="О пузатых Норочниках")
    p И вот казалось бы, скучно должно быть от такой однообразной жизни. Поели-поспали.
    p Но не забывайте о связи с Гравитацией! У Норочников с ней «общие глаза». Находясь между корней внутри островов, они видят свой огромный красивый Мир целиком, и в бесконечных мелочах.
