article(id="o-tsvete-v-mire-levitatum")
    h2(class="h2") О цвете в мире Левитатум

    img(src="assets/img/o-tsvete-v-mire-levitatum.webp" alt="О цвете в мире Левитатум" loading="lazy")

    p Вы видите мир Левитатум на моих рисунках чёрно-белым. Таким его вижу и я, когда рассматриваю внутренним зрением. Иногда в картинки я от себя добавляю цвет.
    p Но все прибывшие сюда Левитяне цветные. И невозможно понять, принимают ли они цвета этого мира, попадая сюда, или же Левитатум полноцветный мир, просто его краски не видны отсюда.
