article(id="o-yagodnykh-nasekomyshakh")
    h2 О ягодных насекомышах
    img(src="assets/img/o-yagodnykh-nasekomyshakh.webp" alt="О ягодных насекомышах" loading="lazy")
    p В Мире Левитатум, на пышных ягодных кустах, живут особые насекомыши. Особенность их в том, что при контакте со слюной они способны устраивать микровзрывы. Поэтому, собирая ягоду, так важно их вытряхивать и вообще глядеть в оба! Маленькие взрывы во рту никого не обрадуют.
    p Из этой особенности насекомышей возникло веселое развлечение: молодые Левитятки подходят к кусту и оплёвывают его, вызывая серию микровзрывов. Ночь – лучшее время для этой забавы.
