article(id="odnokrylki")
    h2(class="h2") Насекомыши. Однокрылки.

    p Существа, названные мной Однокрылками, это ещё одна разновидность насекомышей растительного происхождения. Они вылупляются из почек, расположенных в развилках ветвей. Сперва черная почка набухает, меняя цвет. Увеличившись до нужного размера, почка становиться пушистой и полностью цветной. У неё появляется хвостик пу́почкой и забавный хоботок, мелкие глазки и вихревой ус. В последнюю очередь раскрывается лаконичной формы крыло, украшенное вихорками.

    video(controls autoplay loop muted width="300" height="300")
        source( src="assets/img/odnokrylki.mp4" type="video/mp4")

    p И с этого момента насекомыш отделяется от дерева и начинает свою хлопотную жизнь. При этом родное дерево разноцветные Однокрылки никогда не покидают.
    p Многочисленные вихри этого дерева собраны в верхней части кроны, и каждый имеет направленное вниз светящееся утолщение – подобие фонарика. Под ними по ветвям, изредка перепархивая, снуют Однокрылки. А на земле от их цветных крылышек мельтешат блики, похожие на солнечных зайчиков.

    img(src="assets/img/odnokrylki-1.jpg" alt="Насекомыши. Однокрылки." loading="lazy")

    p Фокус в том, что левитянских солнечных зайчиков можно поймать! (Мечта многих кошек)
    p Когда Левитянин касается блика, блик считается пойманным. Он делается словно тонкое стеклышко. Тогда его можно взять в лапку и приспособить для разных интересностей.
    p Можно глядеть в стёклышки по очереди, меняя цвет Мира.

    img(src="assets/img/odnokrylki-2.jpg" alt="Насекомыши. Однокрылки." loading="lazy")

    p Можно посмотреть сквозь два разных блика. Получите что-то вроде прибора ночного видения. Самая кромешная тьма покажется белым днём.
    p Можно собрать куст-витраж. Вырастив подходящие по размеру кусочков ветки.

    img(src="assets/img/odnokrylki-3.jpg" alt="Насекомыши. Однокрылки." loading="lazy")

    p Можно просто сосать остекленевшие блики как леденцы. У каждого цвета свой неповторимый ягодный вкус.

    img(src="assets/img/odnokrylki-4.jpg" alt="Насекомыши. Однокрылки." loading="lazy")

    p А можно сделать нечто совсем удивительное! Для этого нужно наловить солнечных зайчиков всех цветов, даже самых редких, и наложить их друг на друга. Тогда через эту стопку получится увидеть Мохнатый Слой Острова. Об этом слое вы еще ничего не знаете, но обязательно узнаете! Пока я только изучаю его.

    img(src="assets/img/odnokrylki-5.jpg" alt="Насекомыши. Однокрылки." loading="lazy")

    p Однокрылки воплоти!
    img(src="assets/img/odnokrylki-6.jpg" alt="Насекомыши. Однокрылки." loading="lazy")


