article(id="oduvanchikovyye-nasekomyshi")
    h2(class="h2") Одуванчиковые насекомыши
    img(src="assets/img/oduvanchikovyye-nasekomyshi.jpg" alt="Одуванчиковые насекомыши")

    p В Левитянской «траве» попадаются разнообразные насекомыши.
    p Есть насекомыши как насекомыши, вот как Ягодные, например. (история «О ягодных насекомышах»)
    p Есть такие, которые на самом деле совсем не насекомыши, а часть растений. (история «Мотыльковые растения»)
    p Бывают насекомыши, такие как Веточники. Они переходят от растительной стадии в стадию насекомого, а потом обратно. (история «Насекомыши. Веточники.»)
    p Сегодня я расскажу вам о похожем виде.

    p Вот вырос цветок, обычный, Левитянский. Что бы он проявил свою особенность его нужно сорвать, поднести к лицу, тихо сказать «кы-ыш!» и потрясти! (Левитяне «кы-ыш!» говорят мысленно😊)
    p Тогда лепестки, шурша, отделяются от цветка, но не опадают на полянку, как должны бы, а крылатыми букашками разлетаются по округе, мимоходом пощекотав носик и лобик оживившего их.
    p И это весело!

    p Если сорвать несколько цветочков – будет ещё веселее!!

    p А если нарвать целую охапку одувашечек, да вскарабкаться на ветку повыше и уже там встряхнуть его – это будет совсем весело!!!

    p Вот так резвятся Левитяне, бегая по своим летним полянкам. В их безвременье нет деления на времена года, но мне больше нравиться думать о таких полянках, как о летних. ☀

    img(src="assets/img/oduvanchikovyye-nasekomyshi-01.jpg" alt="Одуванчиковые насекомыши")
