article(id="ostrova")
    h2(class="h2") Острова
    img(src="assets/img/ostrova.jpg" alt="Острова")
    p Не могу сказать, что знаю о Мире Левитатум всё.
    p Я вижу его как бы сквозь мутное стекло или толщу воды. Иногда чётко проступают подробности и частные детали. В другой раз удаётся охватить и понять общую картину мироустройства.
    p Мир Левитатум открывался, и продолжает открываться мне, постепенно.
    p Первое что я о нём когда-то поняла: это мир левитирующих островов, отсюда и название. На каждом острове обязательно растёт вихревое дерево. Правильнее было бы сказать, что это деревья отращивают себе острова.
    p Дело в том, что именно вокруг молодых корешков начинает накапливаться земля. Разрастается дерево, разрастается и остров.
    p Острова бывают разных размеров. Иногда они соединяются. Кроме главного дерева, на острове могут жить и другие растения. Но без вихревого дерева не бывает островов. Когда вихревое дерево умирает, остров рассыпается. Умирание, как и зарождение островов, это крайне редкое явление.
    p Мир Левитатум – мир симбиоза*, всё живое состоит в разнообразных сложных и неразрывных связях друг с другом, впрочем, так и в нашем с вами мире, но в Левитатуме эта связь гораздо явственнее. Вихревые деревья и Левитяне – основные существа-симбионты.
    p *симбиоз, это наиболее подходящее понятие из известных мне.
