article(id="otkuda-berutsya-levityane")
    h2(class="h2") Откуда берутся Левитяне

    img(src="assets/img/otkuda-berutsya-levityane.jpg" alt="Откуда берутся Левитяне")

    p Приходит время, когда звездную часть мира Левитатум пересекает широкими потоками Туман. Он несёт в себе поющих туманных Рыб. Явление это красивое и волшебное.  Песни Рыб - это музыка разнообразных миров, через которые они когда-либо проплывали. Рыбы запомнили мотив и вплели в свою чешую, при движении она звучит загадочно и мелодично.
    p Величественно, медленно туман пересекает мир Левитатум, конденсируясь на вихрях готовых принять росу. В капле начинает отражаться и преломляться звёздный свет. В этот свет вплетаются гармоничные песни рыб. И от этой встречи звука и света, в капле принятой вихрем, зарождается жизнь Левитёнка.
    p Потоки тумана покидают мир Левитатум, унося с собою волшебных поющих рыб. А остров остаётся перевернутым на звездную сторону пока жизнь в капле крепнет и развивается. Все это время Левитяне усиленно ухаживают за вихревым деревом, хранящим молодую жизнь. А так же они выращивают светлячковые цветы и переносят с других островов светлячковых насекомых. Их свет, вместе со светом звезд подпитывает волшебство зародившейся жизни.
    p Когда Левитенок перестает светиться и звучать, а росинка темнеет, остров переворачивают на светлую сторону. Капля впитывается в вихрь, а новенький Левитёнок попадает в теплую компанию заждавшихся его соплеменников)))
    p (Возможно, способ их происхождения объясняет тягу к другим мирам.)
