article(id="otsvety-vcherashnego-dnya")
    h2(class="h2") Отсветы вчерашнего дня
    span.italic (приключения Левитёнка)

    p Достигнув следующего острова Быстроход резко затормозил. Левитёнок не удержался и продолжил движение самостоятельно, перелетел через заострённую голову существа и приземлился в кусты. Быстроход не заметил потерю седока, промчался по поверхности и снова исчез.

    img(src="assets/img/otsvety-vcherashnego-dnya.jpg" alt="Отсветы вчерашнего дня")

    p ***
    p Пока Левитенок приходит в себя, болтаясь на кусте вверх тормашками, я расскажу вам, что тут происходит.

    p Быстроходы, или быстроходные жуки, в пространстве Мира, между островами, передвигаются с максимальной скоростью, то есть мгновенно. В эти моменты их невозможно увидеть или почувствовать. А вот перемещаясь по поверхности острова, они сбавляют скорость, становятся видимыми, и их движение можно назвать просто быстрым. В это время с ними можно общаться. Попросить передать послание или вложить в пазухи шеи небольшой предмет для переправки. Обычно это гостинцы - ягоды, цветы, орехи.
    p Некоторые, самые отчаянные существа, путешествуют на Быстроходах, чтобы убедиться в бескрайности Мира или попасть в гости на далёкий, слишком далёкий остров.

    p Наш герой прицепился к спине жука для веселья. Он «слышал» предупреждение от своих друзей держаться крепче, но скорость так захватила дух, и торможение было неожиданно резким, что даже шесть лапок не удержали его.

    p Слетая со спины Быстрохода, он добавил к максимальной скорости ещё немного. Но этого хватило что бы обогнать Мир на один день.

    p ***
    p Левитёнок приоткрыл глаза, потом зажмурился и снова посмотрел. Мир выглядел странно. Малыш отцепился от ветки, спрыгнул на землю и в изумлении огляделся. Света было непривычно много, но он не освещал, а наоборот, как будто бы прятал очертания острова и всего, что было на нём.  Ветки растворялись в свете и местами сливались с ним. Он взял в лапку камушек, но как не старался, не мог его разглядеть.

    p Левитёнок стал бегать по острову, рассматривать и удивляться, как же тут всё странно устроено! Остров как остров, но местами потёртый. И этот странный свет, который будто бы отводит глаза, не даёт увидеть мелкие детали. Существа, живущие тут, тоже выглядели засвеченными. И все настолько были поглощены своими делами, что никто не замечал гостя.

    img(src="assets/img/otsvety-vcherashnego-dnya-1.jpg" alt="Отсветы вчерашнего дня")

    p Нагулявшись, Левитянин захотел поделиться новостями со своей компанией и полетел на родной остров. Оказалось, он был совсем рядом.

    p Но что же? И его остров выглядел так же странно! Ещё раз удивившись и немного встревожившись, наш герой побежал искать друзей. А вот и они, почти все тут, собрались кружком на высокой части острова, прямо как вчера, когда они помогали прорасти всёсемечку.  Оно оказалось отзывчивым и уже сегодня утром проросло пышным кустом. Но сейчас куста не было. Компания не обратила на него внимания. «Как странно…- подумалось Левитянину – ну, не буду им мешать…» И пошел искать своего закадычного друга. Он поспешил вниз по холму, рассчитывая найти друга на берегу. Вчера они договаривались вырастить там вкусные ягодки – сюрприз для остальных. Но на берегу никого не оказалось. На мысленный призыв его друг не отозвался, и малыш побрёл к Вихревому дереву, чтобы залезть повыше и оглядеться. «Может быть, встречу его по пути?» - надеялся он.

    p И действительно встретил. На вчерашнем месте, возле норок.  Тот снова кормил Норочников. Как же знакомо это всё выглядело… Левитёнок присмотрелся: вот его друг, набрав горсти ягод в три лапки, ковыляет к норке, прямо как вчера, вот он, как вчера, спотыкается и катится хохоча, весь перемазанный разноцветным соком. «Как же так, – подумал наш Левитёнок, - всё повторяется в точности как вчера! Только я видел это во-он с того места, а теперь я тут». Он присмотрелся к месту, на котором стоял вчера, и увидел там невнятный силуэт.

    p Левитёнок побежал к другу. Но друг не повернулся к нему, не отозвался и не увидел его, даже оказавшись нос к носу. Так, как будто нашего Левитёнка и вовсе не было.

    p ***
    p В этом месте нашей истории малыш стал догадываться, что-то произошло со временем. Время стало другим для него, а остальные жили, ничего не замечая во вчерашнем дне. Конечно, он легко связал причудливую ситуацию и поездку на Быстроходе.
    p Но как быть дальше? Друзья не видели его. От этого становилось одиноко и даже тоскливо. Неужели в мире нет никого, с кем он теперь сможет дружить? Неужели у всех «вчера»?

    p Но Левитянин не собирался сдаваться и унывать. Он решил, что если понадобится, обойдет весь свой Мир, но найдет выход из этого слишком светлого вчерашнего дня. И что-нибудь ему обязательно поможет!

    p Для начала Левитёнок решил отыскать Быстрохода и прокатиться на нём ещё раз, разумно рассудив, что выход там же, где и вход.

    p Быстроходы не самая многочисленная форма жизни Левитатума. Малыш перелетал от острова к острову в поисках Жука и уже забрался очень далеко от своего дома, прежде чем встретил одного из них. Спрыгнув с ветки на спину существа, Левитянин приготовился исполнить задуманное.

    p Быстроход достиг края одного острова и тут же притормозил на другом. Островок был небольшой и Левитёнок не успел отцепиться. Так они проскочили ещё несколько островов, а подходящий условий для кувырка вперёд так и не складывалось.

    p И вдруг - резкий толчок! Ничего даже не пришлось делать специально. С ускорением очертив дугу, Левитянин шмякнулся на незнакомый остров.
    p Когда он открыл глаза…

    p ничего не изменилось. Мир по-прежнему состоял из отсветов вчерашнего дня.

    p Ещё вначале пути, чтобы не было слишком одиноко, Левитёнок решил здороваться со всеми встречными. Топая по новому острову, он привычно приветствовал каждого, и они привычно не отвечали ему.

    p В этот раз Левитянин решил путешествовать по звёздной стороне Мира. Лучистые глазки далёких звёзд подмигивали ему. На тёмной стороне меньше ощущались временные изменения, хотя и темнота выглядела блёклой. Там и тут прорехи чьих-то воспоминаний заполнял свет.  А вот прореха в виде шара. Ровная, что необычно. Она движется. Нет, погодите, это светящийся шар плывёт в сероватой темноте.  Левитёнок привычно послал ему мысль-привет… и непривычно получил отклик!

    p Шар качнулся в его сторону. Он не был живым существом, но почувствовал Левитянина! Малыш возликовал – что-то в этом вчерашнем Мире отозвалось ему!

    p Светящийся Белый Шар подплыл к Левитёнку, коснулся его носа и тут же, целиком, без остатка впитался в него. В одну секунду наш герой стал белым и светящимся, а из Мира наоборот, ушёл лишний свет, и он стал прежним, знакомым и родным.

    img(src="assets/img/otsvety-vcherashnego-dnya-2.jpg" alt="Отсветы вчерашнего дня")

    p Сегодняшний день снова был для всех! Одиночество закончилось!

    p ***
    p Через прикосновение Левитяне узнают о предмете, растении, живом существе и даже о целом острове всё, что хотят узнать, или то, что им готовы рассказать.
    p Когда вы берете на руки Левитёнка он сразу узнает вас. Кто вы, какой мир вас окружает, что с вами происходило и какое у вас настроение. Он как бы наполняется вами, и в его голове складывается ваш образ.

    p ***
    p Когда Белый Шар коснулся Левитянина, он понял, что когда-то этот шар вынырнул из Белых Пещер. Так иногда происходило с шарами. Его шар очень долго плавал по Миру. Он искал, кому отдать свой свет. Это было его предназначение. На поиски могли уйти века. Это слишком долго. Но ему повезло встретить Левитянина.
    p И он очень рад этой встрече!

    p ***
    p Январский день.

    p Белое небо сыпет белым снегом на белую землю.
    p А у меня с утра радостное предчувствие.

    p Иду по улице, ветер забрасывает лицо снежинками, играет, смотреть не даёт. Трудно вглядываться в деревья, но я ищу, ищу заветный тоннель из веток. Чувствую, что момент настал и новый Левитёнок должен прибыть из далёкого Мира.
    p Наконец замечаю, что ветки сонной сирени расступились возле самой земли, образуя кольцо.

    p Вот он! Нежный малыш. Радуется новому миру, путешественник. Глазки искрятся весельем, да они у тебя разноцветные? Синий и голубой.
    p Дайка я тебя рассмотрю, левитянин по имени Танцующий с метелью.

    img(src="assets/img/yanvarskiy-den-2.jpg" alt="Январский день")
