article(id="peshchernyy-ostrov")

    h2(class="h2") Белые пещеры. Пещерный остров.

    p Внешне Пещерные острова похожи на крупные слоистые комья. Мне они напоминают сугробы. С краю растёт единственное на этом острове Дерево – это Главное Вихревое Древо. Других растений на поверхности нет. Главное Вихревое Дерево белого цвета, его белые корни заполняют собою весь остров. Они разрастаются и ветвятся, образуя пещеры абсолютно белого цвета. Это самое светлое место Левитатума!
    p Острова эти не переворачиваются, ведь их поверхность никто не населяет, не для кого менять день на ночь. Впрочем, иногда тут, снаружи, бывают гости.  Случайно забредают Левитята-путешественники. Ещё реже переселяется на время Левитёнок, желающий пожить один. Их заботы хватает белому Дереву. Прилетают сюда и Ласковые Птицы, по каким-то своим, ласковым делам.
    p В остальное же время Остров выглядит лысым, необитаемым. Но если спуститься в Белые Пещеры…

    img(src="assets/img/peshchernyy-ostrov.jpg" alt="Пещерный остров" loading="lazy")
    img(src="assets/img/peshchernyy-ostrov-01.jpg" alt="Пещерный остров" loading="lazy")
