article(id="podzabudki")

    h2(class="h2") Подзабудки
    img(src="assets/img/podzabudki.jpg" alt="Подзабудки" loading="lazy")

    p В этот раз расскажу вам об удивительных свойствах вот этих неброских цветочков. Их было бы приметить трудно, если бы не росли они полянками. Множество цветочков, качаясь на стебельках-ниточках, все вместе напоминают облако, невесомое и пушистое. Любой, кто сядет рядом будет заворожен этим зрелищем.

    p Цветы эти я зову Подзабудками. Глядишь на них, и забываются неприятности и горести.

    p Действие Подзабудок не похоже на дурман.
    p От них хорошие воспоминания становятся ярче, выходят в первые ряды памяти. А недавние тяжкие впечатления уходят вглубь, бледнеют и сглаживаются, но не забываются, а только лишь теряют остроту.

    p Недолго смотришь на легкое облачко – грустный случай как бы отодвигается на неделю назад. А глядишь подольше – будто бы минул месяц.

    p Разлуки у Левитян случаются часто. Ведь они любители путешествий, при этом их островные компании очень дружны.

    p И вот уходит один из них, в ведомые, а чаще, неведомые дали, и оставшимся Левитянам тоскливо. Если грустными выглядят даже хвостики, становиться ясно, что без Подзабудок не обойтись.

    p Поникшая компания за несколько минут помогает вырасти цветам. Колыхание утешительного облачка делает сегодняшними счастливые моменты, проведенные вместе когда-то.

    p Легкая печаль от разлуки заметно светлеет. Примирённые с действительностью Левитяне снова могут заняться обычными делами.
