article(id="proobraz-levityan")
    h2(class="h2") Прообраз Левитян

    img(src="assets/img/proobraz-levityan.jpg" alt="Прообраз Левитян")

    p Когда я ещё только задумалась о сочинении своего мирка у меня был вот такой вот образ существа. Тогда не было ни имени для него, ни среды обитания.

    p Я ещё только складывала сказочный мир из кусочков того, что мне нравится:
        ul.list-reset
            li левитация,
            li деревья,
            li ветви, прочерченные плакатным пером,
            li точёные формы,
            li графичность,
            li доброе взаимодействие существ,
            li выращивание растений
            li коты и птичьи стайки
            li космос и т.п.

    p Когда Мир почти сложился, я поняла, что там живут существа более теплокровные)))
    p Тогда появился второй образ. Этот вариант уже походил на знакомых вам левитят, но всё ещё не совсем. Это был скорее «древний» левитянин, волосатый и диковатый на вид.
    p Потом было еще несколько эскизов, но там просто уточнялись детали.

    p Когда образ левитянина окончательно сложился, тогда сложился и мир Левитатум.
    p Сложился в общих, основных чертах. А вот детали я продолжаю открывать для себя чуть раньше вас, друзья))) Потому что, когда я сажусь придумывать, я не знаю заранее, что получится. Истории и существа откуда-то появляются в моих мыслях.

    p Это всегда очень увлекательно!

    p Сперва нет ничего, только намёк на идею/образ. Ты тянешься к нему мысленно, вглядываешься, задаешь вопросы. Откладываешь. Возвращаешься и снова откладываешь. И однажды, идешь, к примеру, на остановку, думаешь о суетном (молоке, батарейках и десятиках на маршрутку) и внезапно начинаешь получать ответы из Левитатума! Теперь уже невозможно сосредоточиться на реальности. Со стороны, должно быть, похоже будто бы я страшно торможу. Поездка переходит в режим автопилота.))))
    p Но чаще выдумки появляются в спокойной и уединенной обстановке. Когда под рукой карандаш и бумага и ничто не отвлекает.))
