article(id="pud-i-bezzabotniki")
    h2(class="h2") Пуд и беззаботники

    p Бух-бух… Огромный остров вибрирует от шагов. Это Пуд невозмутимо несёт свою грузную тушу на шести лапах. И ещё не видя его становится понятно, насколько весомое и значительное существо шагает где-то.
    p Могучая спина его плавно переходит в длинную шею, которая, возле самой земли, заканчивается небольшой точёной головкой. Вдоль шеи расположены два крупных вихря, они закручиваются у передних лап. Пушистое пузо существа почти касается земли.

    p Медленно и вальяжно движется Пуд по миру Левитатум, создавая при этом совершенно противоположное впечатление лёгкости, воздушности, стремительности.
    p Из чего же происходит эта двоякость?
    p Причина в насекомышах-беззаботниках. Они отделимая часть существа и живут на нём и с ним. По виду - узкие пёрышки с глазами. При движении Пуда они стремительно взлетают, окутывая существо облаком жизнерадостного мельтешения, кружатся и почти сразу приземляются обратно, тут же срываясь вновь.

    video(controls autoplay loop muted width="510" height="330")
        source( src="assets/img/pud-i-bezzabotniki.mp4" type="video/mp4")

    p Это зыбкое порхание прекращается, стоит только тяжеловесу остановиться. Насекомыши замирают как пришитые, возвращая Пуду вид неуклюжего гиганта. А ещё они украшают существо, располагаясь от головы, тонкой строчкой, вверх по шее, и спине и спускаясь каскадом на куцый широкий хвост, делая его немного похожим на сложенный павлиний.

    img(src="assets/img/pud-i-bezzabotniki-1.jpg" alt="Пуд и беззаботники" loading="lazy")

    p ***
    p Заводятся Пуды только на самых-самых крупных островах Мира. На таких островах есть специальные деревья-гнёзда для сна и отдыха мощных туш и их беспокойных сопровождающих. Эти деревья специально выращиваются Левитянами под каждого гиганта.

    img(src="assets/img/pud-i-bezzabotniki-2.jpg" alt="Пуд и беззаботники" loading="lazy")

    p ***
    p Могут Пуды и левитировать. Делают они это нечасто и только для того, чтобы повидаться с другими Пудами. Ведь один остров, пусть даже очень крупный, может вместить только пару-тройку этих верзил. А повидаться с родичами очень хочется.
    p Для встреч Пуды выбирают свободное пространство подальше от островов. И к назначенному часу устремляются в нужном направлении. Сперва по два или три существа. По пути встречаясь с другими, они сливаются в компании побольше. А ближе к месту общего слёта уже косяки из десятков существ, неторопливо, словно тучи полные летнего дождя, проплывают над островами.
    p Беззаботники во время путешествия смирно сидят на местах. Но на встрече, которая длится несколько земных дней, они отрываются за всё время бездействия. Массовое мельтешение вокруг исполинских существ бьёт все рекорды активности. Кружащиеся потоки закладывают такие виртуозные виражи, что захватывает дух у наблюдающих за встречей Левитян.
    p Конечно же, Левитятки, как существа не в меру любопытные, не могут пропустить это впечатляющее событие!

    p ***
    p Существует легенда, будто бы когда-то на каждом Пуде жили насекомыши одного цвета. Однажды общую встречу смогли посетить почти все Пуды мира Левитатум. И было их семьдесят сотен. У каждого Пуда приблизительно по пять десятков беззаботников. Представляете, что тут началось? Насекомыши так оживились при встрече и начали так необузданно носиться-кружиться, что их небольшие головки, не выдержав навалившейся радости, растеряли свою память. И беззаботники перепутались.

    p Пуд и Беззаботники воплоти.

    img(src="assets/img/pud-i-bezzabotniki-3.jpg" alt="Пуд и беззаботники" loading="lazy")
    img(src="assets/img/pud-i-bezzabotniki-4.jpg" alt="Пуд и беззаботники" loading="lazy")
    img(src="assets/img/pud-i-bezzabotniki-5.jpg" alt="Пуд и беззаботники" loading="lazy")
