article(id="raskachivaniye-ostrova")
    h2(class="h2") Раскачивание острова
    img(src="assets/img/raskachivaniye-ostrova.webp" alt="Раскачивание острова" loading="lazy")
    p Прошлый раз я рассказала и показала, как Левитятки спят. Новая картинка иллюстрирует, как они скапливаются на вершине дерева, начиная его раскачивать.
