article(id="rastitelnost")

    h2(class="h2") Белые пещеры. Растительность.

    p В Белых пещерах свет струится от самих стен. Но есть там и растения-фонарики разнообразной формы. Все они имеют шары, которые сияют мягким тёплым светом. Световые шары однажды отделяются от своих чашечек и опускаются вниз или неторопливо плывут вверх. Касаясь преграды, они впитываются в неё, насыщая светом. Преградой может быть не только поверхности пещеры, но и растение, и живое существо.
    p Не все световые шары сразу выбирают направление. Самые нерешительные из них плавают по пещерам, слегка опускаясь и поднимаясь, колеблются, прислушиваясь к своим желаниям. Таким шарам случается найти выход из пещер острова, и тогда они уплывают в Мир.
    p В освободившейся чаше сразу завязывается световая крупинка, которая, став взрослым шаром, снова отдаст свой свет родной белоснежной пещере. Этот хоровод света внутри острова никогда не кончается.
    p Сияние не только исходит отовсюду, но и постоянно движется: меняется в размерах, возникает в новых местах, перетекает одно в друге. Создаётся странное ощущение живого, танцующего света.
    p Это очень красиво.

    img(src="assets/img/rastitelnost.jpg" alt="Белые пещеры. Растительность.")
