article(id="rasteniya-fontany")
    h2(class="h2") Растения фонтаны

    p В мире Левитатум есть рыбы, есть капли и туман. Возможно, в этом мире даже идут «дожди».
    p А ещё там бывают фонтаны! О них сегодня пойдет речь. Фонтаны эти не просто фонтанчики, а огромные фонтанища островного масштаба.
    p А вот воды в этом мире нет!
    p «Какая ерунда! Как такое может быть? - возможно удивитесь вы. - «Фонтаны, и без воды? Вода без воды?».
    p Но, присмотревшись к иллюстрации, поймёте, что по кайме острова разрослось растение с розетками из огромных листьев. Из них пучком, словно струи, тянутся светлые стебельки. На стебельках образуются блестящие шарики, которые соскальзывают вниз, словно капельки, усиливая сходство растения с фонтаном.
    p Я думаю, что такое сходство создано Левитянами намерено. Ведь они любят повторять в своём мире то, что им полюбилось в других мирах во время их бесчисленных путешествий. Вот и фонтаны кто-то из них видел в далеком водном мире, возможно даже в нашем.

    p Эти прирожденные садоводы умеют выращивать растения любого вида и свойства.
    p Правда же, красиво у них получилось?

    img(src="assets/img/rasteniya-fontany.jpg" alt="Растения фонтаны")
    img(src="assets/img/rasteniya-fontany-1.jpg" alt="Растения фонтаны")
