article(id="semitsvetikovoye-rasteniye")
    h2(class="h2") Семицветиковое растение

    img(src="assets/img/semitsvetikovoye-rasteniye.jpg" alt="Семицветиковое растение" loading="lazy")

    p Есть в мире Левитатум замысловато-затейливые растения. Вот одно из них.
    p Его цветок имеет семь лепестков, каждый украшен по-своему, что в чёрно-белом Мире вполне соответствует различным цветам. Поэтому я назвала его Семицветиковое растение.
    p Семицветиковое растение не раз попадало в поле моего междумирного зрения, но далеко не сразу удалось его рассмотреть. Очень хотелось запечатлеть его с раскрытым бутоном, когда оно имеет особенно декоративный вид. И вот, совсем недавно, и совсем-совсем близко, мне даже повезло полюбоваться на момент распускания цветка! Я разглядела все мелочи и теперь могу показать его вам!

    p Чтобы получилось такое сложное узорчатое растение, Левитянам приходиться прилагать большие усилия. Обычно в замысливании, любовании и заботе участвуют пять - шесть Левитян. Ради этого растения собираются десять – двенадцать друзей! Их мысли о прекрасном ажурно переплетаются, материализуясь в завитках и формах Семицветикового растения.
    p И старания эти не пропадают зря, радуют глаз, украшая острова и привлекая внимание Ласковых Птиц.

    img(src="assets/img/semitsvetikovoye-rasteniye-1.jpg" alt="Семицветиковое растение" loading="lazy")
