article(id="sledy")
    h2(class="h2") Следы

    img(src="assets/img/sledy.jpg" alt="Следы")

    p Кроме левитян мир Левитатум населён и другими созданиями. С одной из разновидностей насекомышей вы уже знакомы. Постепенно я покажу вам тех, кто попался мне на глаза, а сегодня следы кого-то, кто не попался )))
