article(id="soyedineniye-ostrovov")

    h2(class="h2") Соединение островов. Стоцветок.


    p Удивительные парящие острова Мира иногда соединяются. На время они объединяются благодаря желанию и усилиям Левитян, которые наводят мосты. Реже они сливаются насовсем по воле Главных Вихревых Деревьев. Процесс этот не быстрый и происходит всё так..

    p Разбросанные среди других островов, живут два Острова с каемками, совпадающими как две половинки одного целого. Главные Вихревые Деревья этих островов сознают, что где-то в Мире есть их остров-совпадение. Однажды, подталкиваемые проницательной Гравитацией, эти острова оказываются рядом и тогда Деревья, узнав друг друга, сплетаются корнями, чтобы никогда не расставаться.

    img(src="assets/img/soyedineniye-ostrovov.jpg" alt="Соединение островов. Стоцветок.")

    p Корни постепенно обрастают почвой, место соединения становиться незаметным.

    p Отдохнув, Главные Вихревые Деревья начинают ветвиться навстречу и со временем срастаются кронами, образуя подобие арки.

    p Идёт время, деревья набираются сил. По земным меркам проходит полгода. И наконец, из переплетения ветвей, рождается Цветок. Один. Но очень важный и нужный всему Миру.

    p Бутон поднимается над соединённым островом и распускается, медленно кружась. Разворачивает пышные лепестки вокруг плотно свёрнутой серединки.

    img(src="assets/img/soyedineniye-ostrovov-01.jpg" alt="Соединение островов. Стоцветок.")

    p Спелый цветок начинает источать аромат ста пионов, ста роз и ста клубничных полян. Этот аромат нежен, но силён. Он проникает во все пределы и заполняет всё пространство. Расширяясь на весь Мир, дотягивается до са-амых дальних островов, очаровывая Главные Вихревые Деревья.

    p Очарованные Деревья, мечтая о прекрасном, создают небольшие зёрнышки. Возникшие из аромата и мечты, зёрнышки кружатся плавно и медленно над их кронами, пока каждое из них не поцелует Гравитация. Тогда они падают и теряются в корнях, где их позже будут собирать Левитяне, называя Всёсемечками.

    p Так, Вихревые Деревья, зацветши в одном месте, порождают семена совсем в другом.

    p Левитянам в этом процессе рождения Стоцветка и Всёсемечек, отводиться роль наблюдателей. Но они, как и всё живое, ощущают аромат цветка. И он на них тоже действует. Правда, семян они не образуют. Аромат просто им очень приятен, а потому придает сил и создает доброе, праздничное настроение.

    p Приподнятое и доброе настроение, можно называть на левитянский манер – стоцветковое настроение.

    p Когда я записываю истории из Мира Левитатум, у меня всегда стоцветковое настроение!
