article(id="spaseniye-zvozdnogo-levitonka")

    h2(class="h2") Спасение Звёздного Левитёнка.

    img(src="assets/img/spaseniye-zvozdnogo-levitonka.jpg" alt="Спасение Звёздного Левитёнка")

    p Жил-был один Левитёнок и очень уж ему нравились звёзды. Он мог часами наблюдать за ними и даже не спать. Почти.
    p Однажды он слишком сильно потянулся к самой яркой, самой лучистой звезде. Вот она его и притянула.
    p Оказался наш маленький Левитёнок один среди звёзд. А там, между прочим, холодно.
    p Через какое-то время гравитация Мира, конечно, притянула бедолагу обратно. Но был он совсем холодный уже.
    p И грустный.
    p Тогда его перенесли на остров Ласковых птиц. Они стали ласкаться к нему, обдувать волшебными пальчиковыми пёрышками, а он стал гладить их пушистые спинки. И повеселел)))))
    p Вот так это работает!

    p Это была история о Левитенке тянущемся к звёздам.


    img(src="assets/img/spaseniye-zvozdnogo-levitonka-1.jpg" alt="Спасение Звёздного Левитёнка")
