article
    h2(class="h2")
        small 2.
        |
        | Они
    img(src="assets/img/story-02.jpg" alt="Мой Мир")
    p Заглядывая в мир Левитатум, я чаще вижу вот этих существ.
    p Они самая многочисленная форма жизни.
