article(id="tayushchiye-tsvety")
    h2(class="h2") Тающие цветы

    p ***
    p Все мои сказки "мои". В них вплетены мои представления о добре, в них нашли место дорогие для меня вещи, события, и отразились любимые чудеса нашего мира.
    p Но эта история вышла особенно личной.   (последние дни августа 2023 года)
    p ***

    p Левитянин идёт по полю среди пышных цветов с белыми округлыми лепестками, в которых алеют ягодки. Цветы похожи между собой, но нет двух одинаковых. Цветочные шапочки плотно прижаты друг к другу, и невозможно обойти их.

    p Левитянин идёт, задевая цветы. От прикосновения они будто теряют плотность, и, словно превратившись в пар, поднимаются, увеличиваясь и становясь всё прозрачнее.

    p Высоко-высоко, перед тем как окончательно растаять, облачко, уже совсем потерявшее форму цветка, складывается в образ или картинку. Образы берутся из головы существа, коснувшегося цветка. Это его самое яркое впечатление, то, что сейчас больше всего занимает его мысли или питает чувства.

    p У Левитян это может быть сценка весёлой возни; красиво изогнутый завиток; картина редкого явления (которые в Левитатуме не редки); выдуманное, но пока не выращенное растение.

    p У Насекомышей это могут быть большие лапы других существ; сочные, крупные ягоды; мохнатый слой, к которому они ближе остальных благодаря своим размерам.

    p У Ласковых Птиц – далёкие острова, дружеские объятия, сны…

    p Любое существо, коснувшееся Тающего Цветка, оставляет над полем что-нибудь красивое, то, что особенно впечатлило его.

    p ***
    p Приятно гулять по такому цветочному полю.

    p Можно тихо идти хвостом вперед, любуясь плавным воспарением Тающих Цветов.
    p Можно пробежать по всему полю, обернуться и любоваться, как на дальнем краю, нарисованные цветами во всё небо, плывут любимые образы. А чем ближе к тебе, тем ниже и гуще облачка цветов, и тем чётче их собственные очертания.

    p Склонные к исследованиям Левитяне приводят на поле разных существ. Они нарочно задевают ими цветы, чтобы подглядеть, что тем кажется самым удивительным. Бывали случаи, что на такие поля приносили Норочников, которые знают о Мире всё. Что же впечатляет таких всезнаек? Я вам пока об этом не расскажу)))

    p Яркие впечатления у существ, населяющих мир Левитатум всегда добрые и красивые.
    p Я желаю вам, друзья, чтобы случайно оказавшись на поле Тающих Цветов, вы не боялись оглянуться назад. Чтобы цветы, уловив ваши самые сильные, яркие впечатления, тая, сложились в самые прекрасные образы.

    p ***
    p Красные ягодки осыпаются с задетых растений и тут же начинают прорастать. Цветочное поле постоянно возобновляется. Гулять по нему можно очень долго, пока не надоест.

    p ***
    p Посвящается доброму Арчи, который 13 лет наполнял нашу жизнь яркими впечатлениями. Наш нежный и красивый малыш, слава Богу, ты у нас был.

    p Бог дал, Бог взял.

    img(src="assets/img/tayushchiye-tsvety.jpg" alt="Тающие цветы" loading="lazy")
