article(id="temnyye-tsvety")
    h2(class="h2") Тёмные цветы

    img(src="assets/img/temnyye-tsvety.jpg" alt="Тёмные цветы")

    p Примерно раз в год граница между звёздной и светлой сторонами Мира уплотняется. Будто две части начинают сопротивляться друг другу. На этой тонкой, но упругой грани под звёздами вырастают Тёмные цветы. Они разбегаются по всему миру длинными строчками.

    p Граница, подобно волнам, плавно движется, и в сумраке Тёмные цветы колышутся в такт.

    p Несколько дней Левитяне любуются этим дивным танцем. Но деятельным существам мало просто смотреть, им нужно взаимодействовать. Поэтому многие не переворачивают свои острова на звёздную сторону, а перелетают ночевать в цветы. В их удобных изгибах так сладко спать, покачиваясь высоко под звёздами.

    img(src="assets/img/temnyye-tsvety-1.jpg" alt="Тёмные цветы")

