article(id="tsvetozhuk")
    h2(class="h2") Цветожук

    img(src="assets/img/tsvetozhuk.jpg" alt="Цветожук" loading="lazy" width="736" height="884")

    p Левитяне выращивают целые поля цветов с пушистыми серединками.
    p Поначалу Всёсемечко прорастает самым обычным образом. Над почвой появляются круглые почки, они развиваются в стебельки.  На главном стебле-вихре образуется бутон, заострённый книзу. Плотные чашелистики раскрываются, и пушистая серединка, обрамлённая полупрозрачными мягкими лепестками, доверчиво отворяется Миру.
    p А потом происходит удивительная вещь – оживление цветка.

    img(src="assets/img/tsvetozhuk-01.jpg" alt="Цветожук в полёте" loading="lazy" width="736" height="884")

    p Чтобы цветок захотел стать живым существом, его мягкую серединку обязательно нужно погладить. Тогда она превращается в пузико. На пузике открываются блестящие глазки. Чашелистики становятся надкрыльями, лепестки – крылышками, заостренное цветоложе – чешуйчатой спинкой, нити – усиками. И вот новенькие довольные Цветожуки готовы к первому полёту! Они отрываются от цветоножки, переворачиваются вниз животиком и поднимаются повыше. Там они роятся, летают серпантином и кувыркаются, точно наши голуби. Так они радуются, что заботливые левитянские лапки оживили их. Для отдыха и пополнения сил они возвращаются на свои вихреобразные цветоножки.

    img(src="assets/img/tsvetozhuk-02.jpg" alt="Цветожуки на фоне звёздного неба" loading="lazy" width="736" height="950")

    p По характеру Цветожуки очень волнительные существа. Они готовы переживать по любому поводу. Переворот острова на светлую или звёздную сторону – чем не повод для волнения? Жуки срываются со своих стебельков и летят на поиски Левитяток, что бы те успокоили их, погладив пушистые брюшки. Начался месяц лун – волнительное событие. Снова нужны Левитянские успокоительные поглаживания! Над поляной пролетела Ласковая Птица – очень волнительно. Насекомыши торопятся разыскать Левитят, и те обязательно дарят им успокаивающие процедуры, благо, что у них по шесть лапок))))

    img(src="assets/img/tsvetozhuk-03.jpg" alt="Фото изделия под названием 'Цветожук'" loading="lazy" width="736" height="736")
