article(id="uzorchatyye-nasekomyshi")
    h2(class="h2") Узорчатые насекомыши

    p У Левитян тоже бывают свои праздники. Например, по случаю возвращения собрата. И есть множество способов весело провести этот день. А узорчатые насекомыши помогают его украсить.
    p Насекомыши эти появляются обычным для Мира образом – из растений.
    p Левитяне собираются и выращивают симпатичные хлопушки. У созревшей хлопушки происходит оглушительный творческий взрыв!

    img(src="assets/img/uzorchatyye-nasekomyshi.jpg" alt="Узорчатые насекомыши")

    p И вверх устремляются десятки насекомышей. Они рассеиваются надо всем островом, замерев на одном уровне, как на стекле. Каждый отличается от другого «причёской». Они ведь художники – существа оригинальные!

    img(src="assets/img/uzorchatyye-nasekomyshi-1.jpg" alt="Узорчатые насекомыши")

    p Их тельца содержат чернила. Одновременно художники начинают двигаться, создавая громадный плоский узор, по площади равный острову. Каждый насекомыш рисует свой элемент, подчиняясь общему замыслу. Если приглядеться, видно, что линии состоят из мельчайших капелек.

    img(src="assets/img/uzorchatyye-nasekomyshi-2.jpg" alt="Узорчатые насекомыши")
    img(src="assets/img/uzorchatyye-nasekomyshi-3.jpg" alt="Узорчатые насекомыши")
    img(src="assets/img/uzorchatyye-nasekomyshi-4.jpg" alt="Узорчатые насекомыши")

    p Когда полотно узора закончено, оно опускается на остров и укрывает собой всё что на нём есть. Вихревые Деревья, кусты, цветы, ягоды, живность, поверхность острова и сами Левитяне становятся узорчатыми. И пребывают нарядными некоторое время.

    img(src="assets/img/uzorchatyye-nasekomyshi-5.jpg" alt="Узорчатые насекомыши")

    p Насекомыши-художники, исполнив общий узор, продолжают жить на острове, рисуя на разных поверхностях разные элементы узора, уже совершенно самостоятельно.

    p Однажды чернила в их тельцах заканчиваются.
    p Ощутив творческий кризис, они разбегаются по Миру в поисках Острова Сказок. По слухам, на этом острове есть чернильные реки с графитовыми берегами, на ветвях сидит вдохновение, а по неведомым дорожкам бегают непридуманные никем идеи. Возможно, всё это просто сказки, ведь не даром этот остров называется Сказочным. Но поискать стоит.
