article(id="vetochniki")

    h2(class="h2") Насекомыши. Веточники.

    img(src="assets/img/vetochniki.jpg" alt="Насекомыши. Веточники." loading="lazy")

    p Веточники - это одна из разновидностей насекомышей обитающих в Мире Левитатум. Когда-то я уже рассказывала вам о Ягодных насекомышах, способных устраивать микровзрывы во рту у Левитян. Веточники гораздо более спокойные существа. По своей природе они немного (а быть может и на целую половину) растения, и способны срастаться с кустом на время становясь его частью.
    p В период единения растение отращивает новых маленьких Веточников, которые подрастая, переползают на другие кусты или деревья.
    p Как и всякий симбиоз, это соседство взаимовыгодно. Способствуя появлению в Мире новых насекомышей, растение и само напитывается жизнью, а от этого лучше и быстрее растёт.
    p За свою жизнь эти насекомыши уживаются с тремя – четырьмя растениями.
    p Старые Веточники просто перестают быть насекомышами и окончательно становятся частью ветки.
