article(id="vikhr")
    h2(class="h2") Вихрь
    img(src="assets/img/vikhr.jpg" alt="Вихрь")
    p Этот элемент из Мира Левитатум называется - вихрь.
    p Все что имеет вихрь, имеет способность к левитации.
    p У вихревых деревьев эта способность самая мощная.
