article(id="vsosemechko")
    h2(class="h2") Светлячковые растения. Всёсемечко. Как Левитяне выращивают растения.

    img(src="assets/img/vsosemechko.jpg" alt="Светлячковые растения. Всёсемечко. Как Левитяне выращивают растения.")

    p Когда нужно вырастить растение, Левитяне спускаются к корням Главного Вихревого Дерева и выискивают среди них Всёсемечко.

    img(src="assets/img/vsosemechko-01.jpg" alt="Всёсемечко.")

    p Всёсемечко это такое семечко, из которого может вырасти всё что угодно. Как же такое возможно? Дело в том, что всёсемечко совершенно не знает, чем оно может быть. Но Быть оно очень хочет.
    p Левитята забирают его, кладут на нужное место в землю, а сами собираются вокруг. Тут они становятся особенно довольными на вид, прикрывают глазки и начинают мечтать, воображать, представлять, показывая семечку каким быть.
    p Это как если бы вы пожелали чтобы вырос огурец и вырос бы огурец. А задумали бы помидор, из этого же семечка вырос бы помидор. Или арбуз. Или ель! Или малина!

    img(src="assets/img/vsosemechko-02.jpg" alt="Светлячковые растения.")

    p В этот раз Левитяне задумали вырастить Светлячковые растения. О них вы уже читали в предыдущей истории «Откуда берутся Левитяне»,  а теперь можете и посмотреть.
    p Когда всёсемечко прорастает Левитяне не оставляют его, а продолжают заботиться. И не только ведут его рост и развитие мыслью, но и поглаживают, любуются им. А еще разминают почву лапками.  Любования и прикосновения особенно нужны молодому ростку, но и взрослые растения получают от Левитян свою порцию внимания.
    p Левитяне могут ускорять или притормаживать рост растений своего мира. Могут формировать их и выбирать размер. Могут задумать и вырастить растение любого вида и свойства.
    p От того что остров создан мыслями и заботами Левитян они неразрывно связаны и зависимы. Сами же Левитяне берут своё начало от Вихревого дерева. Порядок вещей в Левитатуме замкнут на самом себе, одно происходит от другого. Причины и следствия замысловато переплетаются. Мир левитирующих островов как целый организм. Он живет на волшебстве и зависимости друг от друга всего, что вмещает.

    img(src="assets/img/vsosemechko-03.jpg" alt="Светлячковые растения.")
    img(src="assets/img/vsosemechko-04.jpg" alt="Светлячковые растения.")
    img(src="assets/img/vsosemechko-05.jpg" alt="Светлячковые растения.")
    img(src="assets/img/vsosemechko-06.jpg" alt="Светлячковые растения.")
    p Светлячковое растение на звёздной и светлой части Мира Левитатум.
