article(id="yanvarskiy-den")
    h2(class="h2") Январский день

    p Белое небо сыпет белым снегом на белую землю.
    p А у меня с утра радостное предчувствие.

    p Иду по улице, ветер забрасывает лицо снежинками, играет, смотреть не даёт. Трудно вглядываться в деревья, но я ищу, ищу заветный тоннель из веток. Чувствую, что момент настал и новый Левитёнок должен прибыть из далёкого Мира.
    p Наконец замечаю, что ветки сонной сирени расступились возле самой земли, образуя кольцо.

    p Вот он! Нежный малыш. Радуется новому миру, путешественник. Глазки искрятся весельем, да они у тебя разноцветные? Синий и голубой.
    p Дайка я тебя рассмотрю, левитянин по имени Танцующий с метелью.

    img(src="assets/img/yanvarskiy-den.jpg" alt="Январский день")
    img(src="assets/img/yanvarskiy-den-1.jpg" alt="Январский день")
