article(id="zhuzhzhashchiy-kust")
    h2(class="h2") Жужжащий куст

    img(src="assets/img/zhuzhzhashchiy-kust-01.jpg" alt="Жужжащий куст")

    p Куст состоит из хаотично разросшихся вихрей разного размера.
    p Плотные увесистые капли на конце каждого вихорка издают звуки, похожие на деловитое жужжание земных шмелей. Левитятам нравится этот звук. Словно арфисты, они перебирают лапками упругие завитки, и молчание тихого мира Левитатум заполняется мелодичным жужжанием на разные лады.

    img(src="assets/img/zhuzhzhashchiy-kust-02.jpg" alt="Жужжащий куст ночью")
