article(id="zimniy-rassvet")
    h2(class="h2") История о Левитянине с именем Зимний Рассвет и Цветожуке

    p На одном крупном отдалённом острове большая компания Левитян высадила огромное поле цветожуков.
    p В другой части мира Левитатум жители нескольких десятков островов договорились вырастить у себя Листовеи.
    p И так случилось, что весёлая мешанина бурного праздника ветра совпала с раскрытием пушистых цветожуков на дальнем острове. Когда пришло время позаботится о цветах, с острова сдуло всех Левитян!
    p Всех, кроме одного. Листовей случился после обеда, а чуть раньше одному серенькому Левитёнку понадобилось спуститься к Норочникам, чтобы подкормить их наземными сочными ягодками. Он рассчитывал вернуться на полянку к раскрытию цветов, потому что для пробуждающего поглаживания нужны были все доступные лапки. Угощая Норочников, он вдруг ощутил, что остров болтается и кувыркается. Ему давно хотелось поучаствовать в празднике Листовея, поэтому он поспешил на поверхность, но никого уже не застал.
    p Недолго погрустив об упущенном веселье и временном одиночестве, он решил проверить поляну цветожуков. Вот это да, а цветы-то уже начали раскрываться! Нет времени ждать возвращения друзей. Как же справиться одному?! Ведь каждый цветок нужно ласково погладить по пушистой серединке. Иначе он не захочет становиться жуком. Чем больше пройдет времени, тем труднее будет уговорить цветок ожить. Его растительная природа возьмёт верх, цветок начнёт чернеть и проживет только один день, не приходя в сознание.
    p Наш отважный Левитёнок кинулся к ближайшим цветам. Нежно и ласково поглаживая сердцевинки, он одновременно обратился мыслями к товарищам. Стало понятно, что самый ближайший Левитёнок не успеет добраться до острова даже к вечеру, когда уже будет слишком поздно. Тут может помочь только Быстроход, но где его взять? Случайные встречи очень редки, а связаться мыслями с другим видом на большом расстоянии невозможно. Разбросанные в пространстве, но объединённые делом, Левитяне стали искать выход. Стали вспоминать, перебирая память друг у друга, бывало ли подобное раньше. Они искали хоть что-то, что могло бы им помочь.
    p И вот обнаружилось знание, почти затёртое и очень мимолётное, что есть в их Мире существо – Длинношейка кудреватая. Существо, почти неизвестное из-за своей обособленности, живущее на единственном острове, который курсировал где-то по краю Мира в малообитаемой части. Удивительно и полезно было то, что это существо мысленно могло связаться с любым другим существом, и другие существа могли связаться с ним. Выходило, что через него можно обратиться за помощью к Быстроходам! Что и было сделано немедленно.
    p Тут же, на подмогу серому Левитёнку, стали прибывать Быстрожуки с пассажирами. Они плавно тормозили, ссаживали Левитят и тут же уносились за новой порцией малышей.
    p На острове поднялась кутерьма до небес!
    p А времени уже почти не оставалось. Всё дольше приходилось уговаривать цветы, усерднее поглаживать пушистые темнеющие пузики.
    p И всё-таки они успели! Самоотверженный труд серого Левитёнка и его товарищей, помощь Быстроходов и Длинношеек, умение действовать сообща – всё это позволило оживить большущую поляну цветожуков! Левитяне сидели вокруг поляны и любовались, как над ней роились, радуясь жизни, крупные жуки-цветы.
    p Наш серенький Левитёнок скромно отошёл в сторонку. Он очень устал, ведь почти четверть всего поля ему удалось оживить одному! Лапки почти отваливались. И вдруг он увидел, поодаль от поляны, почти незаметный на фоне звёздной стороны, чёрный цветок…
    p Окликнув товарищей, Левитянин приблизился к последнему цветку. Он не был пока совершенно чёрным, на нём ещё виднелись угасающие переливы зелёного, синего, фиолетового.
    p Левитёнок опустился к нему и крепко обнял. Он не мог поверить, что такой замечательный день может закончиться так печально! Горькое разочарование пролилось слезинками.
    p Плотным колечком собрались другие Левитяне. Чувствуя искреннюю поддержку друзей, серый Левитенок начал «рассказывать» чернеющему цветку как хороша Жизнь! И другие Левитята, поглаживая тёмно-фиолетовую серединку, делились своим Чувством Жизни.  Как им весело дружить, играть, летать! Как здорово радовать, заботиться, оберегать! Как чудесен и умён их общий Мир! А вокруг так много прекрасного, доброго, удивительного - и что всё это открывается только живым!
    p Послушай! Ведь жить лучше, чем не жить!
    p И цветок поверил.
    p На пушистом пузике открылись чёрные блестящие глазки. Он посмотрел на серого Левитянина, а Левитянин местами порозовел от удовольствия.
    p Такова история самого тёмного в этом мире Цветожука и серого с розовым Левитянина.

    img(src="assets/img/zimniy-rassvet.jpg" alt="Левитянин Зимний Рассвет и Цветожуки" loading="lazy" width="736" height="547")

    p А так в нашем с вами мире выглядят воплотившиеся герои этой истории.

    img(src="assets/img/zimniy-rassvet-01.jpg" alt="Почерневший цветок" loading="lazy" width="736" height="736")

    img(src="assets/img/zimniy-rassvet-02.jpg" alt="Левитянин по имени Зимний Рассвет" loading="lazy" width="736" height="804")
