article(id="zimnyaya-levityanskaya-skazka")

    h2(class="h2") Зимняя Левитянская Сказка

    img(src="assets/img/zimnyaya-levityanskaya-skazka.jpg" alt="Зимняя Левитянская Сказка")

    p Мир Левитатум больше всего напоминает зимний мир Земли. Та же графичность. Тишина. И спокойствие, растворенное в пространстве.

    p Жил-был молодой Левитянин. Однажды, прямо после сна, он почувствовал в себе сильную тягу к путешествиям. Левитянам свойственно ходить в гости. И не только по вихрям в другие миры, но и у себя, по островам. Миграция бывает случайная (с помощью Ветра) и осознанная (куда глаза глядят). Путешествуют Левитяне из любопытства, при этом обмениваясь опытом и идеями.
    p …
    p Наш Левитёнок собирался отсутствовать недолго. Ровно до вечера. До вечера одного из следующих дней.
    p Но время пробегало незаметно. Я не стану описывать в подробностях все эти восторженные встречи с собратьями на новых для Левитенка землях. Везде он оказывался в кругу друзей, где его рады были обнять, накормить, научить новым интересностям.
    p Скажу лишь, что он побывал и на крошечных островках с небольшими Вихревыми Деревьями и несколькими растениями, и на островах-гигантах с высокими, раскидистыми Вихревыми Деревьями и разнообразной многочисленной флорой и фауной.
    p Многие растения Левитенок увидел впервые. В создании некоторых ему довелось поучаствовать.
    p От своих новых друзей он узнал весёлые игры и чудесные затеи, которыми собирался поделиться по возвращении.
    p …
    p Но вот про одну из встреч я расскажу вам подробнее.
    p Плывя в пространстве и перебирая в памяти недавние красочные события, Левитёнок заметил огромный остров.  Остров был гораздо крупнее виденных им до сих пор. Но поразило нашего путешественника не это.
    p Остров был почти прозрачным!
    p Никогда прежде ему не встречалась такая странность. Прозрачность попадается в Мире: цветы, крылышки и лже-крылышки. Но так, что бы весь остров целиком…
    p Заинтригованный, Левитянин поскорее переместился к нему. Подлетев поближе, он стал кружить вокруг Острова, любуясь им.

    p Каждое замечательно красивое растение, каждая изящная веточка, каждый корешок были, чем дальше от матовой земли, тем прозрачнее.
    p Эту прозрачность подчеркивала темная сторона, на которую был перевернут Остров. Через почти незаметные ветви Вихревого Дерева просвечивали звёзды. Само Дерево соответствовало размерам необычного Острова, оно было исполинским!
    p Полюбовавшись чудом на расстоянии, наш путешественник приблизился к нему. И как только его лапки коснулись земли, Левитёнок понял, что Остров больше не обитаем. Левитяне, которые жили с ним в последнее время, ушли, чтобы дать Острову закончиться.
    p Остров исчезал.

    p Он начинался очень-очень давно, когда в Мире бурлила, закручивая вихри, молодая и дерзкая Гравитация. В одном из этих вихрей и зародился Остров. Он растился и воображался многими Левитянами и многие Левитяне зародились на нём.
    p Оставаясь на Острове, Левитяне продолжали бы держать его своими мыслями и представлениями. И им пришлось уйти, чтобы не мешать. Они расселились по Миру, унося в сердце и мыслях его частичку. Потому что, исчезая в одном месте, невозможно не появиться в другом.
    p Все это понял Левитёнок через первое прикосновение. А еще он понял, что может остаться с Островом. Ведь они были знакомы совсем немного и не успели установить прочных симбиотических связей.

    img(src="assets/img/zimnyaya-levityanskaya-skazka-1.jpg" alt="Зимняя Левитянская Сказка")

    p Он остался и некоторое время сидел под главным Вихревым Деревом в полной тишине. Ткани острова истончались, и вот послышалось тихое шуршание. Левитёнок поднял голову и увидел, что крона далеко вверху начала осыпаться на землю прозрачными кристаллами, они долетали до почвы и укрывали её и всё вокруг. Грани кристалликов сверкали, переливаясь отраженными звездами. В конце концов и все растения стали осыпаться с тихим шуршанием.

    img(src="assets/img/zimnyaya-levityanskaya-skazka-2.jpg" alt="Зимняя Левитянская Сказка")

    p Искринки пушистыми холмиками лежали на земле вокруг Левитенка, присыпанного сверкающими прозрачными кусочками.

    p И привиделась ему в этот момент волшебная земля, живой мир, сверкающий миллионами кристаллов, мир яркий от близости к нему одной из звёзд.
    p Прекрасное видение исчезло, но Левитенок понял, что это было приглашение. И когда-нибудь он обязательно туда отправится. А сейчас ему очень захотелось домой. Он оглянулся вокруг, все сверкающие кристаллы, припорошившие остров, исчезли без следа, оставшись только на тельце, голове и хвостике Левитянина.

    img(src="assets/img/zimnyaya-levityanskaya-skazka-3.jpg" alt="Зимняя Левитянская Сказка")

    p Потом он почувствовал, что Гравитация отпустила Остров и отошла в сторонку. Прозрачные кусочки почвы стали отделяться и рассеиваться в пространстве Мира.

    p Искрящийся Левитёнок повисел немного в пустоте между звездной и светлой сторонами. Он чувствовал благодарность за воспоминания, которые всегда будут с ним и которыми он поделится с другими. Ему было немного грустно, но при этом спокойно и мирно.
    p Пора возвращаться.
    p P.S. Левитенок не забыл свое видение и однажды воспользовавшись приглашением переместился в чудесный мир из своего видения. Здесь он получил имя Искрящийся под зимним солнцем.

    img(src="assets/img/zimnyaya-levityanskaya-skazka-4.jpg" alt="Зимняя Левитянская Сказка")
    img(src="assets/img/zimnyaya-levityanskaya-skazka-5.jpg" alt="Зимняя Левитянская Сказка")
