article(id="zvozdochkovoye-rasteniye")
    h2(class="h2") Звёздочковое растение

    img(src="assets/img/zvozdochkovoye-rasteniye-01.webp" alt="Звёздочковое растение")

    p Несмотря на свое "блестящее" название, само растение невзрачное, хотя и довольно крупное. Каждое растение в мире Левитатум чем-то примечательно. Вот это, например, растет в другую сторону.
    p Сейчас объясню, как это. Левитяне высаживают всёсемечко на "верху", и когда стебель прорастает, то почти сразу ныряет обратно в землю! Пробиваясь через плотную почву острова, он появляется с другой стороны, там, где растут корни главного вихревого дерева. Стебель растет далеко "вниз", он тонкий и жесткий, почти не ветвящийся. На конце стебля образуется бутон, похожий на пятигранное зерно гречки. Плотный и маленький в сравнении со стеблем, бутон на самом деле крупнее головы Левитёнка!

    p Где же звёзды?
    p Всё происходит, когда остров с этим растением в очередной раз переворачивается на звёздную сторону.
    p Тёмные бутоны оказываются на светлой стороне и вдруг раскрываются, превращаясь в крупные сияющие звёзды! Свет их силён и хорошо виден левитянским днём. Звезды падают со стеблей и проносятся "вверх", исчезая там; то ли тая, то ли теряясь вдали. А возможно, теплым летним вечером земляне загадывают желание на одну из них. Ведь наши миры непостижимо связаны. Желание, загаданное на такую звезду, точно сбывается.
    p А в своем мире Левитяне с соседних островов, перевернутых на дневную сторону, с восторгом следят за их ярким полетом... или падением... это с какой стороны посмотреть.

    p Звёздочковое растение выращивается из чистого альтруизма, так как создавшие его Левитяне сладко спят под настоящими звездами и ничегошеньки не видят.

    p Вот такой он, звездопад по-левитянски.

    p     ... Где же звёзды?
    img(src="assets/img/zvozdochkovoye-rasteniye-02.webp" alt="Звёздочковое растение")

    p Всё происходит, когда остров с этим растением в очередной раз переворачивается на звёздную сторону.
    p Тёмные бутоны оказываются на светлой стороне и вдруг раскрываются, превращаясь в крупные сияющие звёзды! Свет их силён и хорошо виден левитянским днём. Звезды падают со стеблей и проносятся "вверх", исчезая там; то ли тая, то ли теряясь вдали. ...
    p ... А в своем мире Левитяне с соседних островов, перевернутых на дневную сторону, с восторгом следят за их ярким полетом... или падением... это с какой стороны посмотреть. ...
