head
  title Levitatum
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1' name='viewport')
  link(href='https://fonts.gstatic.com' rel='preconnect')
  link(href='https://fonts.googleapis.com/css2?family=Arsenal&display=swap" rel="stylesheet' rel='stylesheet')
  link(href='https://unpkg.com/basscss@8.0.2/css/basscss.min.css' rel='stylesheet')
  link(href='assets/css/app.css' rel='stylesheet')
