a#main-menu-toggle.menu-toggle(href='#main-menu' aria-label='Open main menu')
    span.sr-only Open main menu
    span(aria-hidden='true') Истории
nav#main-menu.main-menu(aria-label='Main menu')
    a#main-menu-close.menu-close(href='#main-menu-toggle' aria-label='Close main menu')
        span.sr-only Close main menu
        span(aria-hidden='true') Закрыть
    ul(aria-labelledby='main-menu-heading')
        li
            a(href='#moy-mir') Мой Мир
        li
            a(href='#oni') Они
        li
            a(href='#kak-ikh-zovut') Как их зовут
        li
            a(href='#o-yagodnykh-nasekomyshakh') О ягодных насекомышах
        li
            a(href='#ostrova') Острова
        li
            a(href='#vikhr') Вихрь
        li
            a(href='#kak-oni-obshchayutsya') Как они общаются?
        li
            a(href='#mordochki-levityan') Мордочки Левитян
        li
            a(href='#noch-i-den') Ночь и День
        li
            a(href='#raskachivaniye-ostrova') Раскачивание острова
        li
            a(href='#listovey') Листовей
        li
            a(href='#kak-levityane-popadayut-v-nash-mir') Как Левитяне попадают в наш мир
        li
            a(href='#o-tsvete-v-mire-levitatum') О цвете в мире Левитатум
        li
            a(href='#ikh-glaza') Их глаза
        li
            a(href='#kacheli') Развлечения. Качели.
        li
            a(href='#sledy') Следы
        li
            a(href='#otkuda-berutsya-levityane') Откуда берутся Левитяне
        li
            a(href='#vsosemechko') Светлячковые растения. Всёсемечко. Как Левитяне выращивают растения.
        li
            a(href='#kak-nachinayutsya-ostrova') Как начинаются острова
        li
            a(href='#motylkovyye-rasteniya') Мотыльковые растения
        li
            a(href='#zvozdochkovoye-rasteniye') Звёздочковое растение
        li
            a(href='#zhuzhzhashchiy-kust') Жужжащий куст
        li
            a(href='#o-lapkakh-levityan') О лапках Левитян
        li
            a(href='#semitsvetikovoye-rasteniye') Семицветиковое растение
        li
            a(href='#laskovyye-ptitsy') Ласковые птицы
        li
            a(href='#spaseniye-zvozdnogo-levitonka') Спасение Звёздного Левитёнка.
        li
            a(href='#laskovyye-ptitsy-i-semitsvetikovoye-rasteniye') Ласковые птицы и Семицветиковое растение
        li
            a(href='#zimnyaya-levityanskaya-skazka') Зимняя Левитянская Сказка
        li
            a(href='#vetochniki') Насекомыши. Веточники.
        li
            a(href='#gravitatsiya') Гравитация
        li
            a(href='#o-puzatykh-norochnikakh') О пузатых Норочниках
        li
            a(href='#podzabudki') Поздабудки
        li
            a(href='#mirazhniki') Миражники
        li
            a(href='#oduvanchikovyye-nasekomyshi') Одуванчиковые насекомыши
        li
            a(href='#soyedineniye-ostrovov') Соединение островов. Стоцветок.
        li
            a(href='#peshchernyy-ostrov') Белые пещеры. Пещерный остров.
        li
            a(href='#rastitelnost') Белые пещеры. Растительность.
        li
            a(href='#belyye-peshchery-naseleniye') Белые пещеры. Население.
        li
            a(href='#moya-rassada') Моя рассада
        li
            a(href='#temnyye-tsvety') Тёмные цветы
        li
            a(href='#gonets') Гонец
        li
            a(href='#khishchnyye-tsvety') Хищные цветы
        li
            a(href='#navedeniye-mostov') Наведение Мостов
        li
            a(href='#uzorchatyye-nasekomyshi') Узорчатые насекомыши
        li
            a(href='#otsvety-vcherashnego-dnya') Отсветы вчерашнего дня
        li
            a(href='#mesyats-lun') Месяц лун

a.backdrop(href='#main-menu-toggle' tabindex='-1' aria-hidden='true' hidden='')
