a#main-menu-toggle.menu-toggle(href='#main-menu' aria-label='Open main menu')
    span.sr-only Open main menu
    span(aria-hidden='true') Истории
nav#main-menu.main-menu(aria-label='Main menu')
    a#main-menu-close.menu-close(href='#main-menu-toggle' aria-label='Close main menu')
        span.sr-only Close main menu
        span(aria-hidden='true') Закрыть
    ul(aria-labelledby='main-menu-heading')
        li
            a(href='#moy-mir') Мой Мир
        li
            a(href='#oni') Они
        li
            a(href='#kak-ikh-zovut') Как их зовут
        li
            a(href='#o-yagodnykh-nasekomyshakh') О ягодных насекомышах
        li
            a(href='#ostrova') Острова
        li
            a(href='#vikhr') Вихрь
        li
            a(href='#kak-oni-obshchayutsya') Как они общаются?
        li
            a(href='#mordochki-levityan') Мордочки Левитян
        li
            a(href='#noch-i-den') Ночь и День
a.backdrop(href='#main-menu-toggle' tabindex='-1' aria-hidden='true' hidden='')
