@font-face {
    font-family: 'Neucha';
    src: url('/assets/fonts/Neucha-Regular.woff2') format('woff2'),
         url('/assets/fonts/Neucha-Regular.ttf')  format('truetype');
    font-display: swap;
}
/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    font-family: 'Neucha', cursive;
}

p {
    font-size: 21px;
    line-height: 32px;
}

article {
    padding-top: 3rem;
}

/* Menu */

/*
  Screen reader only
*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/*
  ===================================================
  Base styles for all devices sizes, but mobile first
  ===================================================
*/

/*
  Hamburger menu icon/'button' styling
*/
.menu-toggle {
    position: fixed;
    top: 0;
    background: #fff;
    width: 100%;
    display: inline-block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #333;
}

.menu-toggle:hover,
.menu-toggle:focus {
    color: inherit;
}

/*
  Offscreen menu styling
  - Default styles + mobile first
*/
.main-menu {
    position: absolute;
    display: none;
    left: -200px; /* push off the screen to the left for future animation */
    top: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    transition: left 0.3s ease,
    box-shadow 0.3s ease;
    z-index: 999;
}

.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 2.5em 0 0;
    /* Hide shadow w/ -8px while 'closed' */
    -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
    -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
    box-shadow: -8px 0 8px rgba(0,0,0,.5);
    min-height: 100%;
    width: 200px;
    background: #1a1a1a;
}

/*
  Generic style for ALL hamburger menu links
*/
.main-menu a {
    display: block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
}

.main-menu a.menu-close {
    border-bottom: 0; /* no border for the X 'button' */
}

.main-menu li:first-child a {
    border-top: 1px solid #383838; /* add top border only for the first link */
}

/*
  Hover & focus style
*/
.main-menu a:hover,
.main-menu a:focus {
    background: #333;
    text-decoration: underline;
}

/*
  Close button positioning
  - Other styles come from `.main-menu a`
*/
.main-menu .menu-close {
    position: absolute;
    right: 0;
    top: 0;
}

/*
  =======================================
  On small devices, allow it to toggle...
  =======================================
*/

/*
  Opening hamburger menu!
  - Using `:target` for non-JavaScript
  - `[aria-expanded]` will be used if/when JavaScript is added to improve interaction, though it's completely optional.
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
    display: block;
    left: 0; /* slide from -200px to the left edge at 0 */
    outline: none;
    /* fix box-shadow so it shows now */
    -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
    -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
    box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

/*
  Close menu button
  - Make sure it's on top!
  - Basically, when `.main-menu` is the target of the click, get its child `.menu-close` link
*/
.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
    z-index: 1001;
}

/*
  Hamburger menu list
  - Make sure it's on top!
  - Basically, when `.main-menu` is the target of the click, get its child `<ul>`
*/
.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
    position: relative;
    z-index: 1000;
}

/*
  Backdrop
  - Show backdrop
  - Basically, when `.main-menu` is the target of the click, get its sibling `.backdrop`
  - Note: we could use `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: #000;
    background: rgba(0,0,0,.85);
    cursor: default;
}

/*
  ======================================================
  If CSS supports `fixed`, like all good modern browsers
  ======================================================
*/
@supports (position: fixed) {
    /*
      Allow backdrop to stay fixed and not "scroll"
    */
    .main-menu,
    .main-menu:target + .backdrop,
    .main-menu[aria-expanded="true"] + .backdrop {
        position: fixed;
    }
}

/*
  ================================
  Larger screen styling
  ================================
*/

/*
  Horizontal menu (i.e. no hamburger)
*/
@media (min-width: 1200px) {
    /* Hide hamburger menu/'button' */
    .menu-toggle,
    .main-menu .menu-close {
        display: none;
    }

    /* Undo positioning of off-canvas menu */
    .main-menu {
        position: relative;
        left: auto;
        top: auto;
        height: auto;
        display: block;
    }

    .main-menu ul {
        position: fixed;
        top: 0;
        left: 0;
        display: flex; /* allows for full height of menu */
        flex-direction: column;
        height: 100vh;
        width: auto;
        max-width: 210px;
        overflow: auto;

        padding: 45px 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background: none;
    }

    .main-menu a {
        color: inherit; /* blue colors for links too */
        text-decoration: inherit; /* no underline */
        border: 0 !important; /* Remove borders from off-canvas styling */
    }

    .main-menu a:hover,
    .main-menu a:focus {
        background: none; /* Remove background from off-canvas styling */
        text-decoration: underline;
    }
}
