doctype html
html(lang="ru")
  include blocks/head
  body(class="pt3")
    include blocks/menu
    main(class="max-width-3 mx-auto p2")
      header(class="mt2")
        h1(class="h1") Левитатум

      include blocks/stories/moy-mir
      include blocks/stories/oni
      include blocks/stories/kak-ikh-zovut
      include blocks/stories/o-yagodnykh-nasekomyshakh
      include blocks/stories/ostrova
      include blocks/stories/vikhr
      include blocks/stories/kak-oni-obshchayutsya
      include blocks/stories/mordochki-levityan
      include blocks/stories/noch-i-den
      include blocks/stories/raskachivaniye-ostrova
      include blocks/stories/listovey
      include blocks/stories/kak-levityane-popadayut-v-nash-mir
      include blocks/stories/o-tsvete-v-mire-levitatum
      include blocks/stories/ikh-glaza
      include blocks/stories/kacheli
      include blocks/stories/sledy
      include blocks/stories/otkuda-berutsya-levityane
      include blocks/stories/poyushchiye-tumannyye-ryby
      include blocks/stories/vsosemechko
      include blocks/stories/kak-nachinayutsya-ostrova
      include blocks/stories/motylkovyye-rasteniya
      include blocks/stories/zvozdochkovoye-rasteniye
      include blocks/stories/zhuzhzhashchiy-kust
      include blocks/stories/o-lapkakh-levityan
      include blocks/stories/semitsvetikovoye-rasteniye
      include blocks/stories/laskovyye-ptitsy
      include blocks/stories/spaseniye-zvozdnogo-levitonka
      include blocks/stories/laskovyye-ptitsy-i-semitsvetikovoye-rasteniye
      include blocks/stories/zimnyaya-levityanskaya-skazka

      include blocks/footer
