doctype html
html(lang="ru")
  include blocks/head
  body
    main(class="max-width-3 mx-auto")
      header(class="mt3 mb2")
        h1(class="h1") Levitatum
      include blocks/stories/story-01
      include blocks/footer
