doctype html
html(lang="ru")
  include blocks/head
  body
    main(class="max-width-3 mx-auto p2")
      header(class="mt3 mb3")
        h1(class="h1") Levitatum
      include blocks/stories/story-01
      include blocks/stories/story-02
      include blocks/footer
