doctype html
html(lang="ru")
  include blocks/head
  body(class="pt3")
    include blocks/menu
    main(class="max-width-3 mx-auto p2")
      header(class="mt2")
        h1(class="h1") Левитатум

      include blocks/stories/moy-mir
      include blocks/stories/oni
      include blocks/stories/kak-ikh-zovut
      include blocks/stories/o-yagodnykh-nasekomyshakh
      include blocks/stories/ostrova
      include blocks/stories/vikhr
      include blocks/stories/kak-oni-obshchayutsya
      include blocks/stories/mordochki-levityan
      include blocks/stories/noch-i-den

      include blocks/footer
